@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"),
       local(".HelveticaNeueDeskInterface-Light"),
       local(".LucidaGrandeUI"),
       local("Ubuntu Light"),
       local("Segoe UI Light"),
       local("Roboto-Light"),
       local("DroidSans"),
       local("Tahoma");
}

@font-face {
  font-family: code;
  font-style: normal;
  font-weight: 300;
  src: local('Fira Code'), local('Menlo'), local('Monaco');
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/Open_Sans/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Open Sans';
  src: url('fonts/Open_Sans/OpenSans-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Pixel Emulator';
  src: url('fonts/Pixel_Emulator/Pixel Emulator.otf');
}

@font-face {
  font-family: 'Pacifico';
  src: url('fonts/Pacifico/Pacifico-Regular.ttf');
}

@font-face {
  font-family: 'Seaweed Script';
  src: url('fonts/Seaweed_Script/SeaweedScript-Regular.ttf');
}

@font-face {
  font-family: 'Fira Code';
  src: url('fonts/FiraCode/FiraCode-Regular.ttf');
}
