@font-face {
  font-family : 'Open Sans';
  src         : local('Open Sans'),
  local('OpenSans'),
  url('fonts/Open_Sans/OpenSans-Regular.ttf');
}

@font-face {
  font-family : 'Pixel Emulator';
  src         : local('Pixel Emulator'),
  local('PixelEmulator'),
  url('fonts/Pixel_Emulator/Pixel Emulator.otf');
}

@font-face {
  font-family : 'Pacifico';
  src         : local('Pacifico'),
  url('fonts/Pacifico/Pacifico-Regular.ttf');
}

@font-face {
  font-family : 'Seaweed Script';
  src         : local('Seaweed Script'),
  local('SeaweedScript'),
  url('fonts/Seaweed_Script/SeaweedScript-Regular.ttf');
}

@font-face {
  font-family : 'Fira Code';
  src         : local('Fira Code'),
  local('FiraCode'),
  url('fonts/FiraCode/FiraCode-Regular.ttf');
}
