@import "variables";
@import "mixins";
@import "navbar";
@import "slide";
@import "slide-nav";
@import "slide-animation";
@import "slide-custom";
@import "content/code";
@import "content/link";
@import "content/notice";
@import "content/lists";
@import "content/figure";
@import "content/editable";
@import "content/style-edit";
@import "content/compatibility";

* {
  pointer-events: none;
}

label, button, input, a, [contenteditable], .loader,
.slides-nav, summary, .cover h1, .browser, .version,
.hljs {
  pointer-events: auto;
}

html {
  font-size: var(--baseFontSize);
}

body {
  font-family: var(--fontBody);
  margin: 0;
}

blockquote p {
  font-family: var(--quoteFont);
  font-size: 1.5rem;
  text-align: justify;
  &::before {
    content: '“ ';
    opacity: .5;
    display: inline-block;
    transform: scale(4) translateY(.25rem);
    margin-right: 1.5em;
  }
}

.show-print {
  display: none;
}