@import "variables";
@import "mixins";
@import "navbar";
@import "slide";
@import "slide-nav";
@import "slide-animation";
@import "slide-custom";
@import "slide-step";
//@import "overview";
@import "content/code";
@import "content/link";
@import "content/notice";
@import "content/lists";
@import "content/figure";
@import "content/editable";
@import "content/style-edit";
@import "content/compatibility";
@import "content/codeEditor";

html {
  font-size: var(--baseFontSize);
}
// TODO try https://codepen.io/AllThingsSmitty/pen/XKgOkR
//:root {
//  font-size: calc(1vw + 1vh + .5vmin);
//}

body {
  font-family: var(--fontBody);
  margin: 0;
}

blockquote p {
  font-family: var(--quoteFont);
  font-size: 1.5rem;
  text-align: justify;
  &::before {
    content: '“ ';
    opacity: .5;
    display: inline-block;
    transform: scale(4) translateY(.25rem);
    margin-right: 1.5em;
  }
}

.show-print {
  display: none;
}