// Slide navigation
section .previous,
section .next {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: transparent;
  text-decoration: none;
  outline: none;
  &:hover {
    color: var(--fgSlideNav);
    text-decoration: none;
  }
}

section .previous::after,
section .next::before {
  content: '';
}

section .previous::before,
section .next::after {
  content: '';
  font-size: 6rem;
  text-decoration: none;
  margin-top: calc(var(--headerHeight) / -2);
}

// Previous
section .previous {
  cursor: w-resize;
  &::before {
    content: '‹';
  }
}

// Next
section .next {
  cursor: e-resize;
  &::after {
    content: '›';
  }
}