// Standard title
section > h3 {
  margin: 0;
  align-self: stretch;
  flex: 0 0 auto;
  padding: .25em 1em;
  font-family: var(--titleFont);
  font-size: var(--headerFontSize);
  background: var(--bgHeader);
  color: var(--fgHeader);
}

section h4 {
  align-self: stretch;
  flex: 0 0 auto;
  margin: 0;
  padding: .25em .5em;
}

// Body
section article {
  max-height: calc(100vh - var(--footerHeight) - var(--headerHeight) - .5rem);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
  align-items: flex-start;
  pointer-events: none;
}

// Cover
section.cover {
  background: var(--bgCover);
  color: var(--fgCover);

  h1 {
    font-family: var(--coverFont);
    font-size: 4rem;
    text-align: center;
    font-weight: bold;
  }

  &::before {
    display: none;
  }
}

// Part Separator
section.part {
  background: var(--bgPart);
  color: var(--fgPart);

  h2 {
    font-family: var(--partFont);
    font-size: 3rem;
    text-align: center;
  }
}

// Two Columns
section.two-columns article {
  ul, ol {
    column-count: 2;
    column-gap: 2em;
  }
}

// Roadmap
section.roadmap article {
  ol {
    list-style: upper-roman;
  }
}

// No Title
section.hide-title {
  & > h1, & > h2, & > h3 {
    display: none;
  }
}

// Live code CSS
section.live-code {
  article {
    justify-content: stretch;
    align-items: stretch;
    display: flex;
    flex-direction: column;

    .editable {
      flex: 1 1 auto;
    }
  }
}