// Main
main {
  counter-reset: section;
}

main section {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

// Slide
section {
  position: fixed;
  top: 0;
  left: 0;

  box-sizing: border-box;
  background: var(--bgSlide);
  color: var(--fgSlide);

}

// Counter
section::before {
  position: fixed;
  top: 0;
  right: 0;
  padding: 0 .5em 3em 3em;
  font-family: var(--counterFont);
  font-size: 2em;
  counter-increment: section;
  content: '#' counter(section);
  text-shadow: 1px 1px 1px var(--white);
  color: var(--fgCounter);
  background: linear-gradient(45deg, transparent 4em, transparent 0, var(--bgCounter) 4.5em);
}

// Footer
section::after {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  padding: .1rem .1rem .1rem .5em;
  background: var(--bgFooter) var(--logoFooter) no-repeat right;
  background-size: contain;
  background-origin: content-box;
  color: var(--fgFooter);
  font-family: var(--footerFont);

  content: var(--txtFooter) ;
}
