// Standard title
section h3 {
  font-size: 2rem;
  padding-left: 1rem;
}


// Cover
section.cover {
  @include flexCenter();
  background: var(--bgCover);
  color: var(--fgCover);

  h1 {
    margin: -1em var(--navigationWidth) 0 var(--navigationWidth);
    font-family: var(--coverFont);
    font-size: 4rem;
    text-align: center;
    font-weight: bold;
  }

  &::before{
    display: none;
  }
}

// Part Separator
section.part {
  @include flexCenter();
  background: var(--bgPart);
  color: var(--fgPart);

  h2 {
    margin: -1em var(--navigationWidth) 0 var(--navigationWidth);
    font-family: var(--partFont);
    font-size: 4rem;
    text-align: center;
  }
}
