@import "variables";

@page {
  size: landscape;
}

.show-print {
  display: block;
}

.hide-print {
  display: none;
}

body {
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

// slides
main > section {
  position: relative;
  box-shadow: inset 0 0 0 1px var(--primary);
  page-break-before: always;
  page-break-after: always;
  page-break-inside: avoid;
  transform: none !important;
  opacity: 1;
}

style[contenteditable=true] {
  display: none;
}

section.steps .step {
  opacity: 1;
}

.editable {
  z-index: 0;
}


@media print {
  section.steps .step {
    transform: none;
  }
  section article {
    .code-editor {
      .toolbar, .editor-panel, .console-panel {
        display: none;
      }
      .finalCode {
        display: block;
      }
    }
  }
}