@charset "UTF-8";
.breizhcamp {
  --who: 'BreizhCamp !';
  --blue: #4285f4;
  --yellow: #f4b400;
  --green: #0f9d58;
  --red: #db4437;
  --black: #000;
  --white: #fff;
  --g1: #263238;
  --g2: #37424b;
  --g3: #455a64;
  --g4: #ebebeb;
  --g5: #f7f7f7;
  --alpha1: rgba(0, 0, 0, 0.54);
  --alpha2: rgba(0, 0, 0, 0.87);
  --orange: #f36f21;
  --fontColor: #333;
  --primary: #40383C;
  --secondary: var(--white);
  --fontBody: system, system-ui, sans-serif;
  --coverFont: 'Permanent Marker', cursive;
  --titleFont: system, system-ui, sans-serif;
  --codeFont: code, monospace;
  --footerFont: code, monospace;
  --partFont: 'Permanent Marker', cursive;
  --quoteFont: 'Just Another Hand', cursive;
  --counterFont: 'Press Start 2P', fantasy;
  --bgNavbar: var(--white);
  --fgNavbar: var(--primary);
  --shadowNavbar: rgba(0, 0, 0, 0.2);
  --headerHeight: 3rem;
  --footerHeight: 2rem;
  --bgSlide: radial-gradient(ellipse at center, transparent, transparent 60%, rgba(0, 0, 0, 0.1) 80%, rgba(0, 0, 0, 0.3) 100%), var(--secondary);
  --fgSlide: var(--primary);
  --bgCover: radial-gradient(ellipse at center, transparent, transparent 60%, rgba(0, 0, 0, 0.1) 80%, rgba(0, 0, 0, 0.3) 100%), var(--secondary);
  --fgCover: var(--primary);
  --bgPart: radial-gradient(ellipse at center, transparent, transparent 60%, rgba(0, 0, 0, 0.1) 80%, rgba(0, 0, 0, 0.3) 100%), var(--secondary);
  --fgPart: var(--primary);
  --headerFontSize: 1.5rem;
  --bgHeader: var(--primary);
  --fgHeader: var(--secondary);
  --bgSlideNav: transparent;
  --fgSlideNav: rgba(0, 0, 0, 0.2);
  --navigationWidth: 10vw;
  --bgCounter: transparend;
  --fgCounter: var(--secondary);
  --txtFooter: '@breizhcamp @emmanuelVinas @ilaborie #Kotlin #🥂';
  --logoFooter: url("./assets/breizhcamp/logo.png");
  --bgFooter: var(--primary);
  --fgFooter: var(--secondary);
  --bgCode: #2b2b2b;
  --fgCode: #bababa;
  background: radial-gradient(circle farthest-side at 0% 50%, #fffdf5 23.5%, rgba(240, 166, 17, 0) 0) 21px 30px, radial-gradient(circle farthest-side at 0% 50%, rgba(233, 149, 22, 0.25) 24%, rgba(240, 166, 17, 0) 0) 19px 30px, linear-gradient(#fffdf5 14%, rgba(240, 166, 17, 0) 0, rgba(240, 166, 17, 0) 85%, #fffdf5 0) 0 0, linear-gradient(150deg, #fffdf5 24%, rgba(233, 149, 22, 0.25) 0, rgba(233, 149, 22, 0.25) 26%, rgba(240, 166, 17, 0) 0, rgba(240, 166, 17, 0) 74%, rgba(233, 149, 22, 0.25) 0, rgba(233, 149, 22, 0.25) 76%, #fffdf5 0) 0 0, linear-gradient(30deg, #fffdf5 24%, rgba(233, 149, 22, 0.25) 0, rgba(233, 149, 22, 0.25) 26%, rgba(240, 166, 17, 0) 0, rgba(240, 166, 17, 0) 74%, rgba(233, 149, 22, 0.25) 0, rgba(233, 149, 22, 0.25) 76%, #fffdf5 0) 0 0, linear-gradient(90deg, rgba(233, 149, 22, 0.25) 2%, #fffdf5 0, #fffdf5 98%, rgba(233, 149, 22, 0.25) 0%) 0 0 #fffdf5;
  background-size: 40px 60px; }
  .breizhcamp main section::after {
    background-origin: unset; }
  .breizhcamp main section {
    background: radial-gradient(ellipse at center, transparent, transparent 60%, rgba(0, 0, 0, 0.1) 80%, rgba(0, 0, 0, 0.3) 100%); }
  .breizhcamp main section.part::before {
    color: var(--primary); }
  .breizhcamp main section::after {
    background-origin: content-box;
    padding-right: .25rem; }
