.gdg {
  --who: 'BBL Toulouse';
  --alpha1: rgba(0, 0, 0, .54);
  --alpha2: rgba(0, 0, 0, .87);
  --primary: #364081;
  --secondary: white;
  --fontBody: system, system-ui, sans-serif;
  --coverFont: system, system-ui, sans-serif;
  --titleFont: system, system-ui, sans-serif;
  --codeFont: code, monospace;
  --footerFont: code, monospace;
  --partFont: 'Permanent Marker', cursive;
  --quoteFont: 'Just Another Hand', cursive;
  --counterFont: 'Press Start 2P', fantasy;
  --bgNavbar: var(--secondary);
  --fgNavbar: var(--primary);
  --shadowNavbar: rgba(0, 0, 0, .2);
  --headerHeight: 3rem;
  --footerHeight: 2rem;
  --bgSlide: radial-gradient(ellipse at center, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, .1) 80%, rgba(0, 0, 0, 0.3) 100%), var(--secondary);
  --fgSlide: var(--primary);
  --bgCover: radial-gradient(ellipse at center, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, .1) 80%, rgba(0, 0, 0, 0.3) 100%), var(--secondary);
  --fgCover: var(--primary);
  --bgPart: radial-gradient(ellipse at center, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, .1) 80%, rgba(0, 0, 0, 0.3) 100%), var(--secondary);
  --fgPart: var(--primary);
  --headerFontSize: 1.5rem;
  --bgHeader: var(--primary);
  --fgHeader: var(--secondary);
  --bgSlideNav: transparent;
  --fgSlideNav: rgba(0, 0, 0, .2);
  --navigationWidth: 10vw;
  --bgCounter: transparent;
  --fgCounter: var(--secondary);
  --txtFooter: '@gdgtoulouse @ToulouseJS @ilaborie';
  --bgFooter: #0095D5;
  --fgFooter: var(--secondary);
  --logoFooter: url('http://www.gdgtoulouse.fr/img/logo_170.png');
  --bgCode: #2b2b2b;
  --fgCode: #bababa; }
  .gdg pre[class*="lang-"] {
    background: ghostwhite;
    font-family: var(--codeFont);
    overflow: visible;
    font-size: .75rem;
    box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.75);
    border-radius: .25rem;
    padding: .25rem;
    tab-size: 2;
    min-width: 100%;
    position: relative;
    box-sizing: border-box; }
    .gdg pre[class*="lang-"]:after {
      position: absolute;
      top: 0;
      right: 0;
      padding: .125em;
      font-size: 75%;
      border-radius: .25em;
      color: #2d2d2d;
      width: 1rem;
      height: 1rem;
      margin: .25em;
      display: inline-block;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain; }
  .gdg pre.lang-bash {
    color: #2dc82d; }
    .gdg pre.lang-bash code::before {
      content: '$ ';
      color: #999; }
  .gdg pre.lang-kotlin:after {
    content: '';
    background-image: url("./assets/brands/kotlin.svg"); }
  .gdg pre.lang-java:after {
    content: '';
    background-image: url("./assets/brands/java.svg"); }
  .gdg pre.lang-javascript:after {
    content: '';
    background-image: url("./assets/brands/javascript.svg"); }
  .gdg pre.lang-typescript:after {
    content: '';
    background-image: url("./assets/brands/typescript.svg"); }
  .gdg pre.lang-reason:after {
    content: '';
    background-image: url("./assets/brands/reason.png"); }
