div.top, div.right, div.bottom, div.left {
	border: 2em solid transparent;
	display: inline-block;
	box-shadow: 0 0 0 .1em red;
}

div.top { border-top-color: cyan; }
div.right { border-right-color: purple; }
div.bottom { border-bottom-color: green; }
div.left { border-left-color: gold; }