
.devoxx-fr {
  --who: 'Devoxx !';
  --blue: #4285f4;
  //--yellow: #f4b400;
  --yellow: #edaf1f;
  --green: #0f9d58;
  --red: #db4437;
  --black: #000;
  --white: #fff;
  --g1: #263238;
  --g2: #37424b;
  --g3: #455a64;
  --g4: #ebebeb;
  --g5: #f7f7f7;
  --alpha1: rgba(0, 0, 0, .54);
  --alpha2: rgba(0, 0, 0, .87);
  --orange: #f36f21;
  --fontColor: #333;

  // Customization
  --primary: #7f1111;
  --secondary: #FF1c4c;
  --tertiary: #FF1417;
  --alt-accent: #DB1837;
  --alt2: #cc0c0c;

  // Fonts
  --fontBody: 'Open Sans', cursive, system-ui, sans-serif;
  //--coverFont: 'Permanent Marker', cursive;
  --coverFont: Montserrat, cursive;
  --titleFont: Montserrat, cursive, system, system-ui, sans-serif;
  --codeFont: code, monospace;
  --footerFont: code, monospace;
  --partFont: Montserrat, cursive;
  --quoteFont: 'Open Sans', 'Just Another Hand', cursive;
  //--counterFont: 'Press Start 2P', fantasy;
  --counterFont: 'OCR A Std', fantasy;

  // Navbar
  --bgNavbar: var(--white);
  --fgNavbar: var(--primary);
  --shadowNavbar: rgba(0, 0, 0, .2);

  // Slide
  --headerHeight: 2.5rem;
  --footerHeight: 1.5rem;
  --bgSlide: linear-gradient(to top, var(--primary), var(--tertiary)), var(--secondary);

  // Slide Cover
  --bgCover: radial-gradient(ellipse at center, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, .1) 80%, rgba(0, 0, 0, 0.3) 100%), url('./assets/devoxx-fr/bg.png'), var(--primary);
  --fgCover: var(--white);

  // Slide Part
  --bgPart: radial-gradient(ellipse at center, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, .1) 80%, rgba(0, 0, 0, 0.3) 100%), var(--primary);
  --fgPart: var(--white);

  // Slide standard
  --headerFontSize: 1.4rem;
  --bgHeader: var(--primary);
  --fgHeader: var(--secondary);

  // Slide Navigation
  --bgSlideNav: transparent;
  --fgSlideNav: rgba(0, 0, 0, .2);
  --navigationWidth: 10vw;

  // Slide Counter
  --bgCounter: transparend;
  --fgCounter: var(--white);

  // Slide Footer
  --txtFooter: '#DevoxxFR #Kotlin @emmanuelVinas @ilaborie';
  --logoFooter: url('./assets/devoxx-fr/logo.png');
  --bgFooter: var(--white);
  --fgFooter: var(--primary);

  // Code
  --bgCode: #2b2b2b;
  --fgCode: #bababa;

  main section {
    background-size: cover;
    color: var(--white);

    h1 {
      font-size: 2.5rem;
      text-shadow: .0625rem .0625rem rgba(0, 0, 0, .5);
    }
    h2 {
      text-shadow: .0625rem .0625rem rgba(0, 0, 0, .5);
    }

    h3 {
      color: var(--white);
      box-shadow: 0 0 0 .1rem var(--yellow);
    }

    &::after {
      color: var(--white);
      background: url('./assets/devoxx-fr/logo.png') no-repeat right,
      url('./assets/devoxx-fr/bandeau_bas.png') no-repeat left;
      background-size: contain, cover;
      font-size: .8rem;
      max-height: 2.5rem;
      text-shadow: .05em .05em rgba(0, 0, 0, .5);
    }

    &.cover::after {
      background: url('./assets/devoxx-fr/logo.png') no-repeat right;
      background-size: contain;
    }
  }

  body {
    //filter: hue-rotate(285deg);
  }

  main section article {
    ol, ul, dl {
      line-height: 1.5;
    }
  }

  blockquote p {
    text-shadow: .0625rem .0625rem rgba(0, 0, 0, .5);
  }

  main section.diagram {
    background: url('./assets/devoxx-fr/diag.png');
    background-size: cover;
  }

  main section.bilan {
    background: url('./assets/devoxx-fr/takeaway.png');
    background-size: cover;
  }

  main section.details {
    background: url('./assets/devoxx-fr/zoom.png');
    background-size: cover;
  }

  main section.measure {
    background: url('./assets/devoxx-fr/measure.png');
    background-size: cover;
  }

  main section.code {
    background: url('./assets/devoxx-fr/code.png');
    background-size: cover;

    article {
      justify-content: center;
      pre {
        max-width: 100%;
        overflow: auto;

        &.lang-bash {
          overflow: initial;
        }
      }
    }

    &.java {
      background: url('./assets/devoxx-fr/coffee.png');
      background-size: cover;
    }
    &.kotlin {
      background: url('./assets/devoxx-fr/kotlin.png');
      background-size: cover;
    }
    &.hex, &.smali {
      background: url('./assets/devoxx-fr/cpu.png');
      background-size: cover;
      article {
        & > code {
          box-sizing: border-box;
          padding: .25rem;
          border-radius: .125rem;
          background: var(--bgCode);
          color: var(--fgCode);
          white-space: pre;
          overflow: auto;
          font-size: .6rem;
          width: 100%;
        }
      }
    }
    &.bytecode {
      background: url('./assets/devoxx-fr/gears.png');
      background-size: cover;
      article pre.lang-java::after {
        display: none;
      }
    }
  }

  section article > pre[class*="lang-"] {
    align-self: center;
  }
  section.contrast article {
    background: rgba(0, 0, 0, .5);
    padding: .5rem;
    box-shadow: 0 0 5em 1em rgba(0, 0, 0, .5);
    border-radius: 1rem;
  }

  section article {
    ol, ul, dl {
      line-height: 1.25;
      font-size: 1rem;

      p {
        margin: .25rem 0;
      }
    }
  }

  // Code lang
  pre[class*="lang-"] {
    background: #2d2d2d;
    font-family: var(--codeFont);
    overflow: visible;
    font-size: .75rem;
    box-shadow: 0 0 .25rem rgba(0, 0, 0, .75);
    border-radius: .25rem;
    padding: .25rem;
    tab-size: 2;
    min-width: 100%;
    position: relative;
    box-sizing: border-box;

    &:after {
      position: absolute;
      top: 0;
      right: 0;
      padding: .125em;
      font-size: 75%;
      border-radius: .25em;
      //background-color: #eee;
      //box-shadow: 0 0 0 .25em #eee;
      color: #2d2d2d;
      width: 1rem;
      height: 1rem;
      margin: .25em;
      display: inline-block;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  pre.lang-bash {
    color: #2dc82d;
    code {
      &::before {
        content: '$ ';
        color: #999;
      }
    }
  }
  pre.lang-kotlin:after {
    content: '';
    background-image: url('./assets/brands/kotlin.svg');
  }
  pre.lang-java:after {
    content: '';
    background-color: #eee;
    box-shadow: 0 0 0 .125em #eee;
    background-image: url('./assets/brands/java.svg');
  }

  //

  li code, blockquote code {
    background-color: hsla(0, 100%, 100%, .4);
    padding: .06125rem;
    border-radius: .06125rem;
  }

  section article {
    table {
      background: hsla(0, 100%, 100%, .25);
      border-radius: .25em;
      border-collapse: collapse;
      border: medium solid transparent;
      th, td {
        margin: 0;
        padding: .125em .25em;
        border: thin solid rgba(0, 0, 0, .5);
      }
      th {
        border-bottom-width: medium;
        border-bottom-color: white;
      }

    }
  }

}
