
.gdg {
  --who: 'BBL Toulouse';
  --alpha1: rgba(0, 0, 0, .54);
  --alpha2: rgba(0, 0, 0, .87);

  // Customization
  --primary: #364081;
  --secondary: white;

  // Fonts
  --fontBody: system, system-ui, sans-serif;
  --coverFont: system, system-ui, sans-serif;
  --titleFont: system, system-ui, sans-serif;
  --codeFont: code, monospace;
  --footerFont: code, monospace;
  --partFont: 'Permanent Marker', cursive;
  --quoteFont: 'Just Another Hand', cursive;
  --counterFont: 'Press Start 2P', fantasy;

  // Navbar
  --bgNavbar: var(--secondary);
  --fgNavbar: var(--primary);
  --shadowNavbar: rgba(0, 0, 0, .2);

  // Slide
  --headerHeight: 3rem;
  --footerHeight: 2rem;
  --bgSlide: radial-gradient(ellipse at center, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, .1) 80%, rgba(0, 0, 0, 0.3) 100%), var(--secondary);
  --fgSlide: var(--primary);

  // Slide Cover
  --bgCover: radial-gradient(ellipse at center, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, .1) 80%, rgba(0, 0, 0, 0.3) 100%), var(--secondary);
  --fgCover: var(--primary);

  // Slide Part
  --bgPart: radial-gradient(ellipse at center, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, .1) 80%, rgba(0, 0, 0, 0.3) 100%), var(--secondary);
  --fgPart: var(--primary);

  // Slide standard
  --headerFontSize: 1.5rem;
  --bgHeader: var(--primary);
  --fgHeader: var(--secondary);

  // Slide Navigation
  --bgSlideNav: transparent;
  --fgSlideNav: rgba(0, 0, 0, .2);
  --navigationWidth: 10vw;

  // Slide Counter
  --bgCounter: transparent;
  --fgCounter: var(--secondary);

  // Slide Footer
  --txtFooter: '@gdgtoulouse @ToulouseJS @ilaborie';
  --bgFooter: #0095D5;
  --fgFooter: var(--secondary);
  --logoFooter: url('http://www.gdgtoulouse.fr/img/logo_170.png');

  // Code
  --bgCode: #2b2b2b;
  --fgCode: #bababa;



  // Code lang
  pre[class*="lang-"] {
    background: ghostwhite;
    font-family: var(--codeFont);
    overflow: visible;
    font-size: .75rem;
    box-shadow: 0 0 .25rem rgba(0, 0, 0, .75);
    border-radius: .25rem;
    padding: .25rem;
    tab-size: 2;
    min-width: 100%;
    position: relative;
    box-sizing: border-box;

    &:after {
      position: absolute;
      top: 0;
      right: 0;
      padding: .125em;
      font-size: 75%;
      border-radius: .25em;
      //background-color: #eee;
      //box-shadow: 0 0 0 .25em #eee;
      color: #2d2d2d;
      width: 1rem;
      height: 1rem;
      margin: .25em;
      display: inline-block;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
    }
  }

  pre.lang-bash {
    color: #2dc82d;
    code {
      &::before {
        content: '$ ';
        color: #999;
      }
    }
  }
  pre.lang-kotlin:after {
    content: '';
    background-image: url('./assets/brands/kotlin.svg');
  }
  pre.lang-java:after {
    content: '';
    background-image: url('./assets/brands/java.svg');
  }



  pre.lang-javascript:after {
    content: '';
    background-image: url('./assets/brands/javascript.svg');
  }
  pre.lang-typescript:after {
    content: '';
    background-image: url('./assets/brands/typescript.svg');
  }
  pre.lang-reason:after {
    content: '';
    background-image: url('./assets/brands/reason.png');
  }

}
