@import "../../../node_modules/highlight.js/styles/darcula";

.sunnytech {
  --who: 'SunnyTech !';
  --blue: #4285f4;
  --yellow: #f4b400;
  --green: #0f9d58;
  --red: #db4437;
  --black: #000;
  --white: #fff;
  --g1: #263238;
  --g2: #37424b;
  --g3: #455a64;
  --g4: #ebebeb;
  --g5: #f7f7f7;
  --alpha1: rgba(0, 0, 0, .54);
  --alpha2: rgba(0, 0, 0, .87);
  --orange: #f36f21;
  --fontColor: #333;

  // Customization
  --main: #fb4552;
  --primary: #222;
  --accent: #F8955C;
  --secondary: var(--white);

  // Fonts
  --fontBody: system, system-ui, sans-serif;
  --coverFont: 'Permanent Marker', cursive;
  --titleFont: system, system-ui, sans-serif;
  --codeFont: code, monospace;
  --footerFont: code, monospace;
  --partFont: 'Permanent Marker', cursive;
  --quoteFont: 'Just Another Hand', cursive;
  --counterFont: 'Press Start 2P', fantasy;

  // Navbar
  --bgNavbar: var(--white);
  --fgNavbar: var(--primary);
  --shadowNavbar: rgba(0, 0, 0, .2);

  // Slide
  --headerHeight: 3rem;
  --footerHeight: 2rem;
  --bgSlide: radial-gradient(ellipse at center, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, .1) 80%, rgba(0, 0, 0, 0.3) 100%), var(--secondary);
  --fgSlide: var(--primary);

  // Slide Cover
  --bgCover: radial-gradient(ellipse at center, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, .1) 80%, rgba(0, 0, 0, 0.3) 100%), var(--secondary);
  --fgCover: var(--primary);

  // Slide Part
  --bgPart: radial-gradient(ellipse at center, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, .1) 80%, rgba(0, 0, 0, 0.3) 100%), var(--secondary);
  --fgPart: var(--primary);

  // Slide standard
  --headerFontSize: 1.5rem;
  --bgHeader: linear-gradient(135deg, #ff9a44 0%, #fc6076 100%);
  //--bgHeader: var(--main);
  --fgHeader: var(--white);

  // Slide Navigation
  --bgSlideNav: transparent;
  --fgSlideNav: rgba(0, 0, 0, .2);
  --navigationWidth: 10vw;

  // Slide Counter
  --bgCounter: transparend;
  --fgCounter: var(--secondary);

  // Slide Footer
  --txtFooter: '@SunnyTech_MTP @alexandre_del31 @ilaborie #Kotlin #🥂';
  --logoFooter: url('./assets/sunnytech/logo-white.svg');
  --bgFooter: var(--main);
  --fgFooter: var(--white);

  // Code
  --bgCode: #2b2b2b;
  --fgCode: #bababa;

  // Timing
  --startAt: '10h05';
  --exoAt: '10h15';
  --endAt: '11h45';

  main section {
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, .1) 80%, rgba(0, 0, 0, 0.3) 100%);
  }

  main section.part {
    background-image: linear-gradient(135deg, rgb(255, 154, 68) 0%, rgb(252, 96, 118) 100%);;
    color: var(--white);
  }

  main section {
    h1 {
      color: var(--main);
      text-shadow: 2px 2px 4px rgba(0,0,0,.5);
    }
    h2 {
      text-shadow: 2px 2px 4px rgba(0,0,0,.5);
    }
    h3 {
      text-shadow: 1px 1px rgba(0,0,0,.5);
    }

    &::before, &::after {
      text-shadow: 1px 1px rgba(0,0,0,.5);
    }
  }

  main section::after {
    background-origin: content-box;
    padding-right: .25rem;
  }

}
