.editable input[type=checkbox] + label::before {
    content : 'Click if you like it';
}

.editable input[type=checkbox]:checked + label::before {
    content : '💗💖💕';
}

fieldset input[type=checkbox] { opacity : 0; }