.like input[type=checkbox] + label {
    box-shadow: 0 0 0 1px red;
}
.like input[type=checkbox] + label::before {
    content: '';
}
.like input[type=checkbox] + label::before {
    content: '';
}
.like fieldset input[type=checkbox] { opacity: 1; }