@import "node_modules/highlight.js/styles/darcula";

code, pre {
  font-family : var(--codeFont);
}

pre[class^=lang-] {
  box-shadow    : inset 0 0 .25rem rgba(0, 0, 0, .25);
  border-radius : .25rem;
  tab-size      : 2;
}