.compatibility-caption {
  font-size: .7rem;

  &::before {
    content: 'Navigateur usage ≥ ';
  }
  &::after {
    content: '% en France';
  }
}
.compatibility {
  display: grid;
  font-size: .8rem;
  grid-gap: .1rem;
  grid-template-rows: 1fr 1.2em;
  grid-auto-rows: 1fr;

  .browser, .feature, .value {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 15vh;
  }

  .void {
  }
  // Browser
  .browser {
    padding-bottom: 100%;
    background-origin: padding-box;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    transform: scale(0.9);
    transition: transform .4s ease-in-out;
    &:hover {
      transform: scale(1);
      filter: drop-shadow(0 0 .25rem black);
    }

    &.mobile::before {
      content: '📱';
    }

    &.and_chr {
      background-image: url('./assets/browsers/and_chr.svg');
    }
    &.chrome {
      background-image: url('./assets/browsers/chrome.svg');
    }
    &.edge {
      background-image: url('./assets/browsers/edge.svg');
    }
    &.firefox {
      background-image: url('./assets/browsers/firefox.svg');
    }
    &.ie {
      background-image: url('./assets/browsers/ie.svg');
    }
    &.safari {
      background-image: url('./assets/browsers/safari.svg');
    }
    &.ios_saf {
      background-image: url('./assets/browsers/ios_saf.svg');
    }
    &.android {
      background-image: url('./assets/browsers/android.png');
    }
    &.opera {
      background-image: url('./assets/browsers/opera.svg');
    }
    &.and_uc {
      background-image: url('./assets/browsers/and_uc.png');
    }
    &.op_mini {
      background-image: url('./assets/browsers/op_mini.png');
    }
  }
  .browser-percent {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .5rem;
  }

  // Feature
  .feature {
    text-align: center;
    font-size: .5rem;
  }

  // Value
  .value {
    color: #fff;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    align-items: stretch;
    font-size: .5rem;

    .available, .not-available, .partial, .buggy {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .available {
      background: #39b54a;
    }
    .partial {
      background: #91b54c;
      position: relative;
      .version {
        cursor: help;
      }
      .info {
        background: #91b54c;
      }
    }
    .buggy {
      background: orange;
      position: relative;
      .version {
        cursor: help;
      }
      .info {
        background: orange;
      }
    }

    .not-available {
      background: #c44230;
    }

    .version:hover ~ .info {
      display: inline-block;
    }
    .info {
      position: absolute;
      display: none;
      top: 80%;
      z-index: 2;
      width: 20vw;
      border-radius: .1rem;
      box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .5);
      p {
        margin: 0;
        padding: .2em;
      }
    }

    &.chrome, &.firefox {
      grid-template-columns: 1fr 1fr;
    }
  }
}