section .slide-body, section h1, section h2, section h3, section h4 {
  a {
    text-decoration: none;
    color: currentColor;
    border-bottom: thin dashed currentColor;
    &::before {
      content: '➼ ';
    }
  }
}