
section article, section h1, section h2, section h3, section h4 {
  a {
    align-self: flex-start;
    text-decoration: none;
    color: currentColor;
    border-bottom: thin dashed currentColor;

    &:hover {
      text-shadow: 1px 1px 2px rgba(0,0,0,.5);
    }

    &::before {
      content: '➼ ';
    }
    &[href*="github"]::before, &[href*="twitter"]::before, &[href*="jetbrains"]::before,
    &[href*="mozilla"]::before, &[href*="youtube"]::before, &[href*="kotlin"]::before,
    &[href*="android"]::before, &[href*="spring-framework"]::before, &[href*="spring-boot"]::before,
    &[href*="docs.google"]::before, &[href*="sparktutorials"]::before, &[href*="sparkjava"]::before, &[href*="javalin"]::before,
    &[href*="immutable"]::before, &[href*="ramda"]::before, &[href*="elm"]::before, &[href*="reasonml"]::before,
    &[href*="purescript"]::before, &[href*="clojurescript"]::before,
    &[href*="medium"]::before, &[href*="tc39"]::before,
    &[href*="vertx"]::before, &[href*="ktor"]::before, &[href*="stackoverflow"]::before  {
      content: '';
      width: 1em;
      height: 1em;
      display: inline-block;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
    }
    &[href*="stackoverflow"]::before {
      background-image: url('./assets/brands/stackoverflow.svg');
    }
    &[href*="medium"]::before {
      background-image: url('./assets/brands/medium.svg');
    }
    &[href*="spring-framework"]::before {
      background-image: url('./assets/brands/spring.svg');
    }
    &[href*="spring-boot"]::before {
      background-image: url('./assets/brands/springboot.svg');
    }
    &[href*="android"]::before {
      background-image: url('./assets/brands/android.svg');
    }
    &[href*="github"]::before {
      background-image: url('./assets/brands/github-octocat.svg');
    }
    &[href*="twitter"]::before {
      background-image: url('./assets/brands/twitter.svg');
    }
    &[href*="mozilla"]::before {
      background-image: url('./assets/brands/mdn.svg');
    }
    &[href*="youtube"]::before {
      background-image: url('./assets/brands/youtube.svg');
    }
    &[href*="youtube"]::before {
      background-image: url('./assets/brands/youtube.svg');
    }
    &[href*="kotlinlang"]::before, &[href*="kotlin.link"]::before {
      background-image: url('./assets/brands/kotlin.svg');
    }
    &[href*="slack"]::before {
      background-image: url('./assets/brands/slack.svg');
    }
    &[href*="jetbrains"]::before {
      background-image: url('./assets/brands/intellij-idea.svg');
    }
    &[href*="docs.google"]::before {
      background-image: url('./assets/brands/google-doc.png');
    }
    &[href*="sparktutorials"]::before {
      background-image: url('./assets/brands/spark-java.png');
    }
    &[href*="sparkjava"]::before {
      background-image: url('./assets/brands/spark-java.png');
    }
    &[href*="javalin"]::before {
      background-image: url('./assets/brands/javalin.png');
    }
    &[href*="vertx"]::before {
      background-image: url('./assets/brands/vertx.png');
    }
    &[href*="ktor"]::before {
      background-image: url('./assets/brands/ktor.png');
    }
    &[href*="ramda"]::before {
      background-image: url('./assets/brands/ramda.svg');
    }
    &[href*="elm"]::before {
      background-image: url('./assets/brands/elm.svg');
    }
    &[href*="reasonml"]::before {
      background-image: url('./assets/brands/reason.png');
    }
    &[href*="purescript"]::before {
      background-image: url('./assets/brands/purescript.svg');
    }
    &[href*="clojurescript"]::before {
      background-image: url('./assets/brands/cljs.png');
    }
    &[href*="immutable"]::before {
      background-image: url('./assets/brands/immutable.png');
    }
    &[href*="tc39"]::before {
      background-image: url('./assets/brands/tc39.png');
    }

    &[href*="frog"]::before {
      content: '🐸 ';
    }
    &[href*="garden"]::before {
      content: '🥕 ';
    }
    &[href*="w3.org"]::before {
      content: '𝙬𝟯𝙘 ';
      color: navy;
      text-shadow: 1px 1px 8px #fff;
    }
    &[href*="css-tricks"]::before {
      content: '✽ ';
      color: #ff9800;
    }
    &[href*="commitstrip"]::before {
      content: '🎨 ';
    }
    &[href*="gridbyexample"]::before {
      content: '⌗ ';
    }
    &[href*="smashingmagazin"]::before {
      content: '𝓢 ';
      color: #e95c33;
    }
    &[href*="wikipedia"]::before {
      content: 'ⓦ ';
      color: #888;
    }
    &[href*="monkeypatch"]::before {
      content: ' ';
    }
    &[href*="fungus"]::before {
      content: ' ';
    }
    &[href*="caniuse"]::before {
      content: '📊 ';
    }
    &[href*="bit.ly"]::before {
      content: '🧛‍♂️';
    }
    &[href^=mailto]::before {
      content: '✉️ ';
    }
  }
}
