section article, section h1, section h2, section h3, section h4 {
  a {
    align-self: flex-start;
    text-decoration: none;
    color: currentColor;
    border-bottom: thin dashed currentColor;

    &:hover {
      text-shadow: 1px 1px 0 #000, 2px 2px 0 #fff;
    }

    &::before {
      content: '➼ ';
    }

    &[href*="github"]::before {
      content: '📐 ';
    }
    &[href*="youtube"]::before {
      content: '🎥 ';
    }
    &[href*="frog"]::before {
      content: '🐸 ';
    }
    &[href*="garden"]::before {
      content: '🥕 ';
    }
    &[href*="mozilla"]::before {
      content: '🦊 ';
    }
    &[href*="w3.org"]::before {
      content: '𝙬𝟯𝙘 ';
      color: navy;
      text-shadow: 1px 1px rgba(#fff, .5);
    }
    &[href*="css-tricks"]::before {
      content: '✽ ';
      color: #ff9800;
    }
    &[href*="commitstrip"]::before {
      content: '🎨 ';
    }
    &[href*="flukeout"]::before {
      content: '🍽 ';
    }
    &[href*="gridbyexample"]::before {
      content: '⌗ ';
    }
    &[href*="smashingmagazin"]::before {
      content: '𝓢 ';
      color: #e95c33;
    }
    &[href*="wikipedia"]::before {
      content: 'ⓦ ';
      color: #888;
    }
    &[href*="monkeypatch"]::before {
      content: '🐵 ';
    }
    &[href*="caniuse"]::before {
      content: '📊 ';
    }
  }
}