
ul, ol, dl {
  margin-top: 0;
  margin-bottom: 0;
}

// Definition
dl {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: .8rem;

  dt {
    font-weight: bold;
    justify-self: end;
  }
}