.notice {
  font-size: .7rem;
  border-radius: .25rem;
  padding: .25rem;
  border: thin solid currentColor;
  align-self: stretch;

  &.notice-tips {
    background: hsla(1, 100%, 100%, .5);
    &::before {
      content: '✨ Tips\A';
      font-weight: bold;
      white-space: pre;
      padding: .25rem;
    }
  }

  &.notice-info {
    background: hsla(1, 100%, 100%, .5);
    &::before {
      content: 'ℹ️ Info\A';
      font-weight: bold;
      white-space: pre;
      padding: .25rem;
    }
  }

  ul {
    list-style: none;
  }
}