@charset "UTF-8";
.mzh-animation .logo-askew, section.cover h1 .logo-askew {
  display: inline-block;
  animation-name: unskew;
  animation-duration: .6s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.75, -2, 0.75, 2);
  transform-origin: 86% 15%; }

.mzh-animation:hover .logo-askew, section.cover h1:hover .logo-askew {
  animation-name: skew;
  animation-duration: 1.2s;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  transform-origin: 86% 15%; }

@keyframes unskew {
  0% {
    transform: rotate(-12deg); }
  to {
    transform: rotate(0deg); } }

@keyframes skew {
  40% {
    transform: rotate(-16deg); }
  60% {
    transform: rotate(-8deg); }
  to {
    transform: rotate(-12deg); } }

@keyframes rainbow {
  0% {
    background-position: 0% 15%; }
  50% {
    background-position: 100% 86%; }
  100% {
    background-position: 0% 15%; } }

.holy-grail {
  align-self: center;
  margin-right: .25rem;
  font-size: .4rem;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: 1rem auto 1rem;
  grid-template-areas: "head head head" "menu body side" "foot foot foot"; }
  .holy-grail header, .holy-grail footer, .holy-grail main, .holy-grail nav, .holy-grail aside {
    background: var(--bgCode);
    color: var(--fgCode);
    border-radius: .05rem;
    padding: .2rem;
    box-shadow: 0 0 0 0.125rem var(--bgSlide);
    display: flex;
    align-items: center; }
  .holy-grail header {
    grid-area: head;
    justify-content: center; }
  .holy-grail nav {
    grid-area: menu; }
  .holy-grail main {
    grid-area: body;
    text-align: justify;
    overflow: auto; }
  .holy-grail aside {
    grid-area: side; }
  .holy-grail footer {
    grid-area: foot;
    justify-content: center; }

section article input[type=checkbox], section article input[type=radio] {
  transform: scale(4); }

section.cover h1 {
  width: 56vh;
  height: 56vh;
  border: solid 1vh currentColor;
  font-size: 15.77465vh;
  padding: 2vh;
  font-family: arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
  text-transform: uppercase;
  line-height: 105%;
  text-align: left; }

#whoami article h4 {
  font-size: 1.5rem; }

#whoami article > div {
  display: flex; }
  #whoami article > div div {
    align-self: center; }
  #whoami article > div a {
    border: none; }
    #whoami article > div a::before {
      content: ''; }
  #whoami article > div svg {
    flex: 1 1 auto;
    max-height: 2em;
    max-width: 25vw; }
    #whoami article > div svg path {
      fill: currentColor; }

#whoami article > a[href^='https://twitter.com']::before {
  content: '🐦 '; }

#whoami article > a[href^=mailto]::before {
  content: '✉️ '; }

#least-power article {
  align-self: center; }
  #least-power article blockquote p {
    font-size: 1.6rem; }

#le_css_c_est_vaste article, #pseudo_etats article {
  align-items: center; }

#bordure_des_boutons .editable button {
  padding: .25em .5em;
  transform: scale(6); }

#une_histoire_dunites_css article figure {
  width: 100%;
  height: 100%; }
  #une_histoire_dunites_css article figure img {
    max-width: 100%;
    min-height: 66vh; }
  #une_histoire_dunites_css article figure figcaption {
    display: none; }

#alors_utilise_t_on_un_pre__8209_processeurs__ p {
  margin: 0; }

#holy-grail-calc article, #holy-grail-flexbox article, #holy-grail-grid article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center; }
  #holy-grail-calc article .holy-grail, #holy-grail-flexbox article .holy-grail, #holy-grail-grid article .holy-grail {
    height: 50%; }

#holy-grail-grid .hljs-tag:nth-of-type(4), #holy-grail-grid .hljs-tag:nth-of-type(11) {
  opacity: .25; }

#dessiner .editable svg {
  width: 40vh;
  height: 100%; }

#le_dinner_d_un_philosophe .diner {
  transform: scale(0.8); }
  #le_dinner_d_un_philosophe .diner .table-wrapper {
    transform: rotateX(20deg);
    min-height: 10rem;
    transform-origin: bottom;
    z-index: 9999;
    position: relative;
    margin: 10px auto 0;
    width: 20rem; }
  #le_dinner_d_un_philosophe .diner .table {
    transform: scale(1.5);
    transform-style: preserve-3d;
    outline: solid 1px transparent;
    margin: 0 auto 0 auto;
    min-height: 10rem;
    padding: 15px 15px 22px 15px;
    z-index: 999;
    position: relative;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center; }
  #le_dinner_d_un_philosophe .diner .table-surface {
    box-shadow: 0 2rem 0.5rem rgba(0, 0, 0, 0.2);
    background: #dd992d;
    background: linear-gradient(#dd992d, #cd8c26);
    position: absolute;
    height: 100%;
    bottom: 0;
    width: 100%; }
  #le_dinner_d_un_philosophe .diner .table-edge {
    width: 20rem;
    margin: 0 auto .5rem auto;
    background: #ac741c;
    height: 1rem;
    transform: rotateX(-40deg);
    transform-origin: top;
    z-index: 2; }
  #le_dinner_d_un_philosophe .diner .table-leg {
    width: 1.5rem;
    height: .8rem;
    background: #84570f;
    position: absolute;
    top: 1rem; }
    #le_dinner_d_un_philosophe .diner .table-leg:first-child {
      left: 1.5rem; }
    #le_dinner_d_un_philosophe .diner .table-leg:last-child {
      right: 1.5rem; }
  #le_dinner_d_un_philosophe .diner .plate {
    box-shadow: 0 8px 0 rgba(0, 0, 0, 0.1);
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 0 10px;
    position: relative;
    border-bottom: solid 5px #DDD;
    background: white;
    border-radius: 50%; }
    #le_dinner_d_un_philosophe .diner .plate:before {
      content: "";
      display: block;
      position: absolute;
      left: calc(50% - 32px);
      top: calc(50% - 32px);
      height: 65px;
      width: 65px;
      border-radius: 60px;
      border-top: solid 6px #CCC;
      opacity: .4;
      background: white; }
    #le_dinner_d_un_philosophe .diner .plate:after {
      content: "";
      display: block;
      position: absolute;
      left: calc(50% - 41px);
      top: calc(50% - 40px);
      height: 67px;
      width: 67px;
      border-radius: 60px;
      border: solid 8px #009ff2;
      opacity: .4; }

#info_bulle .popover {
  transform: scale(1.5);
  color: #fff;
  border-radius: .5rem;
  padding: .25rem .5rem; }
  #info_bulle .popover:after {
    content: " " var(--who); }

#texte_de_chargement .editable {
  margin-top: 0;
  min-height: 3rem; }
  #texte_de_chargement .editable .loader {
    transform: scale(3); }

#usage_des_info_bulles article {
  flex-direction: row;
  align-items: center; }

#usage_des_info_bulles fieldset {
  position: relative;
  border: none; }
  #usage_des_info_bulles fieldset label {
    display: block; }
  #usage_des_info_bulles fieldset input {
    font-size: 1em;
    border-radius: .25em; }
  #usage_des_info_bulles fieldset input + .error {
    display: block;
    position: absolute;
    margin-top: -1.5em;
    padding: .125em .75em;
    border-radius: .5em;
    color: #fff;
    background: darkred;
    white-space: nowrap;
    top: 4.75em;
    left: 0.5em;
    filter: drop-shadow(0.1em 0.1em 0.1em rgba(0, 0, 0, 0.5));
    transform: scale(0);
    transform-origin: 1.43em -.43em;
    transition-timing-function: ease-in;
    transition: .2s; }
    #usage_des_info_bulles fieldset input + .error::before {
      position: absolute;
      z-index: -1;
      content: '';
      top: -1.4em;
      left: .5em;
      border: 1em solid transparent;
      border-bottom-color: darkred; }
  #usage_des_info_bulles fieldset input:invalid + .error {
    transform: scale(1);
    transition-timing-function: ease-out; }

#usage_des_info_bulles .hint {
  position: relative; }
  #usage_des_info_bulles .hint .pop {
    display: block;
    position: absolute;
    margin-top: -1.5em;
    padding: .125em .75em;
    border-radius: .5em;
    color: #fff;
    background: teal;
    white-space: nowrap;
    top: 3em;
    left: 0.5em;
    filter: drop-shadow(0.1em 0.1em 0.1em rgba(0, 0, 0, 0.5));
    transform: scale(0);
    transform-origin: 1.43em -.43em;
    transition-timing-function: ease-in;
    transition: .2s; }
    #usage_des_info_bulles .hint .pop::before {
      position: absolute;
      z-index: -1;
      content: '';
      top: -1.4em;
      left: .5em;
      border: 1em solid transparent;
      border-bottom-color: teal; }
    #usage_des_info_bulles .hint .pop::after {
      content: " " var(--who) " !"; }
  #usage_des_info_bulles .hint a:hover + .pop {
    transform: scale(1);
    transition-timing-function: ease-out; }

#checkbox_hack article .like {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  #checkbox_hack article .like blockquote {
    margin: 0; }
    #checkbox_hack article .like blockquote p {
      font-size: 1.2rem;
      text-shadow: 2px 2px white;
      margin: 0; }
    #checkbox_hack article .like blockquote cite::before {
      content: '⟿ '; }
    #checkbox_hack article .like blockquote cite {
      font-weight: bold;
      text-shadow: 2px 2px white; }
  #checkbox_hack article .like fieldset {
    padding: .125rem .5rem;
    border: thin solid grey;
    background-color: #fff;
    transform: scale(1.5); }
    #checkbox_hack article .like fieldset input {
      transform: scale(2); }

#switch article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: .25rem;
  justify-items: stretch;
  align-items: stretch; }
  #switch article pre.hljs {
    display: none; }

#switch .editable {
  grid-column: 1 / 3;
  display: flex;
  justify-content: center; }
  #switch .editable label {
    box-shadow: none;
    margin: 0 .25em; }
  #switch .editable input[type=checkbox] {
    transform: scale(2); }

#panel blockquote {
  margin: .5rem; }
  #panel blockquote p {
    font-size: .9rem;
    margin: .25rem 0; }
  #panel blockquote footer cite {
    font-size: .5rem; }

#panel .editable {
  display: flex;
  align-items: flex-start; }

#panel .panel {
  background: white;
  position: relative;
  border: medium solid currentcolor;
  border-radius: .25em;
  width: 100%; }
  #panel .panel > input[type=checkbox] {
    transform: scale(2); }
    #panel .panel > input[type=checkbox] + header label::before {
      margin-left: .25rem;
      content: '▹ ';
      min-width: 2ch;
      display: inline-block;
      cursor: pointer; }
    #panel .panel > input[type=checkbox] ~ .body {
      max-height: 0;
      overflow: hidden;
      transition: all .4s linear; }
    #panel .panel > input[type=checkbox]:checked ~ .body {
      max-height: 100vmax; }
    #panel .panel > input[type=checkbox]:checked + header label::before {
      content: '▿ '; }
  #panel .panel header {
    background: #444;
    color: #fff; }

#demo_des_onglets .editable {
  width: 100%; }
  #demo_des_onglets .editable nav {
    position: relative;
    z-index: 1;
    padding-left: 1em; }
  #demo_des_onglets .editable nav > label {
    position: relative;
    display: inline-block;
    padding: .3em 1em 0;
    color: #000;
    text-decoration: none;
    margin: 0 -.3em; }
  #demo_des_onglets .editable nav > label::before, #demo_des_onglets .editable .tabs > div {
    border: 0.1em solid rgba(0, 0, 0, 0.4); }
  #demo_des_onglets .editable nav label::before {
    content: '';
    /* To generate the box */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    border-bottom: none;
    border-radius: .5em .5em 0 0;
    background: #ccc linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0));
    box-shadow: 0 .15em white inset;
    transform: scale(1.1, 1.3) perspective(0.5em) rotateX(5deg);
    transform-origin: bottom; }
  #demo_des_onglets .editable .tabs {
    width: 100%; }
  #demo_des_onglets .editable .tabs > div {
    margin-bottom: 1em;
    background: #eee;
    padding: 1em;
    border-radius: .15em;
    color: #000;
    display: none;
    min-height: 40vh; }
  #demo_des_onglets .editable input {
    transform: scale(2); }
  #demo_des_onglets .editable input#home:checked ~ nav label[for=home] {
    z-index: 2; }
    #demo_des_onglets .editable input#home:checked ~ nav label[for=home]::before {
      background-color: #eee;
      margin-bottom: -.08em; }
  #demo_des_onglets .editable input#home:checked ~ div[data-for=home] {
    display: block; }
  #demo_des_onglets .editable input#projects:checked ~ nav label[for=projects] {
    z-index: 2; }
    #demo_des_onglets .editable input#projects:checked ~ nav label[for=projects]::before {
      background-color: #eee;
      margin-bottom: -.08em; }
  #demo_des_onglets .editable input#projects:checked ~ div[data-for=projects] {
    display: block; }
  #demo_des_onglets .editable input#about:checked ~ nav label[for=about] {
    z-index: 2; }
    #demo_des_onglets .editable input#about:checked ~ nav label[for=about]::before {
      background-color: #eee;
      margin-bottom: -.08em; }
  #demo_des_onglets .editable input#about:checked ~ div[data-for=about] {
    display: block; }

#progress article {
  display: flex;
  flex-direction: column;
  align-items: stretch; }
  #progress article .editable {
    display: flex;
    flex-direction: column; }
    #progress article .editable progress {
      margin: .5rem; }

#panel_html article {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr;
  grid-column-gap: .25rem;
  justify-items: stretch;
  align-items: stretch; }
  #panel_html article pre.hljs, #panel_html article style {
    font-size: .7rem;
    margin: 0; }

#panel_html .editable {
  grid-column: 1 / 3;
  display: flex;
  align-items: flex-start; }
  #panel_html .editable details {
    background: #fff; }

#dialog .editable {
  display: flex;
  justify-content: center;
  align-items: center; }

#pour_apprendre img {
  max-height: 15vh; }

#_rocks__:target article {
  display: flex;
  height: calc(100vh - 2rem);
  justify-content: center;
  align-items: center; }
  #_rocks__:target article .awesome-box {
    transform: scale(1.5);
    position: relative;
    width: 56vh;
    height: 56vh;
    border: solid 1vh currentColor;
    font-size: 15.77465vh;
    padding: 2vh;
    font-family: arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
    text-transform: uppercase;
    line-height: 105%;
    font-size: 128px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-image: linear-gradient(315deg, red, orange, green, teal, blue, indigo, magenta);
    background-size: 200% 200%;
    width: auto;
    border: solid 1vh transparent;
    padding: 5vh;
    outline: none;
    animation: rainbow 5s ease infinite; }
    #_rocks__:target article .awesome-box::before {
      position: absolute;
      top: 0;
      left: 0;
      width: 485px;
      height: 485px;
      content: ' ';
      border: solid 1vh currentColor; }

@media print {
  .slides-nav {
    display: none; }
  #bordure_des_boutons button {
    background: lightblue;
    /*border: medium solid currentColor;*/
    border: medium solid rgba(0, 0, 0, 0.42); }
  #bordure_des_boutons button.danger {
    background: salmon;
    color: rebeccapurple; }
  #le_dinner_d_un_philosophe .table::before, #le_dinner_d_un_philosophe .table::after {
    color: gray;
    font-size: 2rem;
    content: '⋔';
    transform: rotate(180deg); }
  #triangle_avec_des_bordures div.top, #triangle_avec_des_bordures div.right, #triangle_avec_des_bordures div.bottom, #triangle_avec_des_bordures div.left {
    border: 2em solid transparent;
    display: inline-block;
    box-shadow: 0 0 0 .1em red; }
  #triangle_avec_des_bordures div.top {
    border-top-color: cyan; }
  #triangle_avec_des_bordures div.right {
    border-right-color: purple; }
  #triangle_avec_des_bordures div.bottom {
    border-bottom-color: green; }
  #triangle_avec_des_bordures div.left {
    border-left-color: gold; }
  #info_bulle .popover {
    position: relative;
    background: teal; }
  #info_bulle .popover::before {
    position: absolute;
    z-index: -1;
    content: '';
    top: 1.25em;
    left: 1em;
    border: .8em solid transparent;
    border-top-color: teal;
    transform: skew(-30deg); }
  #texte_de_chargement .loader {
    display: inline-block;
    white-space: pre;
    height: 1.3em;
    margin-top: -.3rem;
    line-height: 1.5;
    overflow: hidden; }
  #texte_de_chargement .loader::before {
    display: inline-table;
    content: '⠋\a ⠙\a ⠹\a ⠸\a ⠼\a ⠴\a ⠦\a ⠧\a ⠇\a ⠏';
    animation: spin 1s steps(10, end) infinite; }
  @keyframes spin {
    to {
      transform: translateY(-15em); } }
  #dessiner .editable svg path {
    stroke: purple;
    stroke-width: 1em;
    fill: none;
    stroke-dasharray: 4700;
    stroke-dashoffset: 4700;
    animation: draw 2s linear infinite; }
  @keyframes draw {
    to {
      stroke-dashoffset: 0; } }
  #usage_des_info_bulles .pop {
    transform: scale(1) !important; }
  #checkbox_hack .editable input[type=checkbox] + label::before {
    content: 'Click if you like it'; }
  #checkbox_hack .editable input[type=checkbox]:checked + label::before {
    content: '💗💖💕'; }
  #checkbox_hack fieldset input[type=checkbox] {
    opacity: 0; }
  #switch article pre.hljs {
    display: block; } }
