section article > pre.hljs {
  align-self: center; }

section article ol, section article ul, section article dl {
  line-height: 1.25;
  font-size: 1rem; }
  section article ol p, section article ul p, section article dl p {
    margin: .25rem 0; }

#speakers {
  background: #00b0f0;
  color: #fff;
  z-index: 2; }
  #speakers h3, #speakers::before, #speakers::after {
    display: none; }
  #speakers article {
    flex-direction: row;
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    min-height: 100vh;
    align-items: center; }
    #speakers article > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      #speakers article > div img.speakerRound {
        width: 128px;
        float: left;
        margin-right: 20px;
        margin-top: 22px;
        border-radius: 100px;
        overflow: hidden;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3); }
      #speakers article > div h4,
      #speakers article > div a {
        align-self: initial; }
      #speakers article > div a {
        font-size: 80%; }
    #speakers article > a {
      grid-column: 1 / 3;
      text-align: center;
      justify-self: center;
      border: none; }

section#roadmap article ol {
  font-size: .75rem; }

section.list-big {
  font-size: 1.3rem; }

#cible article {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 2fr;
  align-content: center;
  justify-items: center;
  grid-gap: .5rem; }
  #cible article .jvm-android {
    grid-column: 1 / 3; }
  #cible article img {
    width: 12vw;
    align-self: end; }
