@charset "UTF-8";
.catnip {
  --primaryColor: teal;
  --frameColor: #4c2b70; }

.catnip * {
  margin: 0;
  padding: 0;
  color: var(--primaryColor); }

.catnip body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif; }

.catnip button {
  padding: .125em .25em;
  border-radius: .25em;
  outline: none; }

.catnip menu {
  text-align: right; }

.catnip details {
  padding: .25em; }

.catnip details summary {
  cursor: pointer; }

.catnip .constants {
  display: grid;
  grid-template-columns: 5ch 1fr 1fr;
  grid-gap: .25em;
  font-family: Fira Code; }

.catnip .constants > * {
  padding: .125em; }

.catnip .constants .index {
  text-align: right; }

.catnip .constants .index:before {
  content: "#"; }

.catnip .frames {
  background: #fff8dc; }

.catnip .frames > div {
  font-family: Fira Code, monospace;
  display: flex;
  flex-direction: column-reverse;
  padding: .5em; }

.catnip .frames > div .frame {
  margin: .5em 0; }

.catnip .frame {
  border: thin solid rgba(0, 0, 0, 0.5);
  border-radius: .5em;
  padding: .5em;
  background-color: var(--frameColor);
  --primaryColor: #fff;
  box-shadow: 0.125em 0.125em 0.5em rgba(0, 0, 0, 0.5);
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header header" "code   stack" "locals locals";
  opacity: .75;
  filter: grayscale(0.8); }

.catnip .frame.current {
  opacity: 1;
  filter: none; }

.catnip .frame > header {
  grid-area: header;
  text-align: center;
  font-weight: 700;
  border-bottom: thin solid rgba(0, 0, 0, 0.5); }

.catnip .frame > header:before {
  content: "📦 "; }

.catnip .frame ul.code {
  grid-area: code;
  margin: .25em; }

.catnip .frame .stack {
  grid-area: stack;
  align-self: end; }

.catnip .frame .locals, .catnip .frame .stack {
  margin: .25em;
  box-shadow: 0.06125em 0.06125em 0.25em rgba(0, 0, 0, 0.5); }

.catnip .frame .locals {
  grid-area: locals; }

.catnip .code {
  display: grid;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: rgba(255, 255, 255, 0.2); }

.catnip .code li {
  margin: 0;
  padding: 0;
  display: flex; }

.catnip .code li:before {
  content: "➖ "; }

.catnip .code li > * {
  padding: .125em; }

.catnip .code li .position {
  width: 2ch;
  text-align: right; }

.catnip .code li .code {
  font-weight: 700;
  max-height: 25vh;
  overflow: auto; }

.catnip .code li .args {
  margin-left: 1em;
  flex-grow: 1;
  text-align: right;
  margin-right: .25em; }

.catnip .code .selected {
  background-color: var(--primaryColor); }

.catnip .code .selected:before {
  content: "🔜 "; }

.catnip .code .selected > * {
  --primaryColor: var(--frameColor); }

.catnip .locals {
  background: #47bd82;
  border-radius: .25em;
  color: #fff;
  padding: .25em; }

.catnip .locals header {
  text-align: center; }

.catnip .locals > div {
  display: flex;
  counter-reset: a -1; }

.catnip .locals > div > div {
  background-color: rgba(255, 255, 255, 0.2);
  border: medium solid currentColor;
  flex-grow: 1;
  text-align: center;
  position: relative;
  counter-increment: a; }

.catnip .locals > div > div.empty:after {
  content: "·"; }

.catnip .locals > div > div:before {
  position: absolute;
  left: 0;
  top: -2ch;
  color: rgba(255, 255, 255, 0.75);
  content: counter(a); }

.catnip .locals > div > div + div {
  margin-left: .125em; }

.catnip .stack {
  min-width: 0;
  background: #4747bd;
  color: #fff;
  border-radius: .25em;
  padding: .25em; }

.catnip .stack header {
  text-align: center; }

.catnip .stack > div {
  display: flex;
  flex-direction: column-reverse;
  border: thick solid currentColor;
  border-top-left-radius: .125em;
  border-top-right-radius: .125em;
  border-top-width: 0; }

.catnip .stack > div > div {
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: .125em;
  padding: .125em;
  flex-grow: 1;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis; }

.catnip .stack > div > div.empty:after {
  content: "·"; }

.catnip header .args {
  background-color: rgba(255, 255, 255, 0.2);
  padding: .125em;
  border-radius: .125em;
  margin-left: .5em; }

.catnip header .args span + span:before {
  content: ", "; }

/**
 * prism.js tomorrow night eighties for JavaScript, CoffeeScript, CSS and HTML
 * Based on https://github.com/chriskempson/tomorrow-theme
 * @author Rose Pritchard
 */
code[class*="language-"],
pre[class*="language-"] {
  color: #ccc;
  background: none;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto; }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #2d2d2d; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal; }

.token.comment,
.token.block-comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: #999; }

.token.punctuation {
  color: #ccc; }

.token.tag,
.token.attr-name,
.token.namespace,
.token.deleted {
  color: #e2777a; }

.token.function-name {
  color: #6196cc; }

.token.boolean,
.token.number,
.token.function {
  color: #f08d49; }

.token.property,
.token.class-name,
.token.constant,
.token.symbol {
  color: #f8c555; }

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin {
  color: #cc99cd; }

.token.string,
.token.char,
.token.attr-value,
.token.regex,
.token.variable {
  color: #7ec699; }

.token.operator,
.token.entity,
.token.url {
  color: #67cdcc; }

.token.important,
.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }

.token.inserted {
  color: green; }

.slides-nav strong, .slides-nav nav {
  font-size: .25rem; }

section.code.live-code article, section.code.play article, section.blur article {
  position: relative; }
  section.code.live-code article > *, section.code.play article > *, section.blur article > * {
    filter: blur(8px); }
  section.code.live-code article::after, section.code.play article::after, section.blur article::after {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-size: 6rem;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 100%;
    filter: drop-shadow(0 0 1rem white); }

section.code.live-code article::after {
  content: '✏️'; }

section.code.play article::after {
  content: '⚙️'; }

section#deepDiveKotlin h1 {
  line-height: 1.5; }

section#speakers {
  background: #00b0f0;
  color: #fff;
  z-index: 2; }
  section#speakers h3, section#speakers::before, section#speakers::after {
    display: none; }
  section#speakers article {
    flex-direction: row;
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    min-height: 100vh;
    align-items: center; }
    section#speakers article > div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      section#speakers article > div img.speakerRound {
        width: 128px;
        float: left;
        margin-right: 20px;
        margin-top: 22px;
        border-radius: 100px;
        overflow: hidden;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3); }
      section#speakers article > div h4,
      section#speakers article > div a {
        align-self: initial; }
      section#speakers article > div a {
        font-size: 80%; }
    section#speakers article > a {
      grid-column: 1 / 3;
      text-align: center;
      justify-self: center;
      border: none; }
    section#speakers article svg {
      filter: drop-shadow(0 0 0.1rem black); }

section#roadmap {
  background: url("./assets/devoxx-fr/roadmap.png");
  background-size: cover; }
  section#roadmap article {
    background: rgba(0, 0, 0, 0.5);
    padding: .5rem;
    box-shadow: 0 0 5em 1em rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    align-items: center; }
    section#roadmap article ol {
      padding-left: 2rem;
      column-count: 2;
      column-gap: 5rem;
      text-shadow: 0.0625em 0.0625em rgba(0, 0, 0, 0.5); }

section.list-big {
  font-size: 1.3rem; }

section#bytecode-play {
  background: url("./assets/devoxx-fr/matrix.png");
  background-size: cover; }
  section#bytecode-play article {
    justify-content: center;
    align-items: center;
    border-radius: .5rem; }
    section#bytecode-play article .catnip {
      width: 100%;
      height: 100%;
      --primaryColor: white;
      background: rgba(0, 0, 0, 0.5);
      border-radius: .5rem;
      overflow: auto;
      font-size: .75rem;
      font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, Segoe WPC, Segoe UI, HelveticaNeue-Light, Ubuntu, Droid Sans, sans-serif; }
      section#bytecode-play article .catnip .constants {
        font-size: .75em; }
      section#bytecode-play article .catnip .frames {
        background: transparent; }
        section#bytecode-play article .catnip .frames button {
          color: black;
          transform: scale(2) translateX(-1.2em); }
      section#bytecode-play article .catnip ul {
        font-size: .5rem; }

section#bytecode-links article blockquote p {
  font-size: 1rem; }

section#bilan_helloworld_kt article table {
  align-self: center;
  font-size: .75rem; }
  section#bilan_helloworld_kt article table td {
    font-family: var(--codeFont); }

section#historique {
  background: url("./assets/devoxx-fr/historic.png");
  background-size: cover; }
  section#historique article ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: .125rem;
    width: 100%; }
    section#historique article ul li {
      position: relative;
      height: 2rem;
      display: flex;
      align-items: center; }
      section#historique article ul li strong {
        text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
        display: inline-block;
        text-align: center; }
      section#historique article ul li div {
        display: inline-block;
        position: absolute;
        background: rgba(0, 0, 0, 0.8);
        border-radius: .5rem;
        padding: 0 0.5rem;
        font-size: .5rem;
        transform: rotate(-20deg); }
        section#historique article ul li div mark {
          padding: 0 .125rem;
          border-radius: .125rem; }
    section#historique article ul li:nth-child(2n) {
      flex-grow: 1; }
    section#historique article ul li.start, section#historique article ul li.sep, section#historique article ul li.end {
      border: 1rem solid transparent;
      display: inline-block;
      height: 0; }
    section#historique article ul li.start {
      border-color: darkslategray;
      border-left-color: transparent; }
    section#historique article ul li:nth-child(2) {
      background: darkslategray; }
      section#historique article ul li:nth-child(2) div {
        top: -2.3rem;
        left: 0.5rem;
        width: 5rem; }
    section#historique article ul li:nth-child(3) {
      background: darkmagenta;
      border-left-color: darkslategray; }
    section#historique article ul li:nth-child(4) {
      background: darkmagenta; }
      section#historique article ul li:nth-child(4) div {
        bottom: -3.8rem;
        left: -4rem;
        width: 4.5rem; }
    section#historique article ul li:nth-child(5) {
      background: darkslateblue;
      border-left-color: darkmagenta; }
    section#historique article ul li:nth-child(6) {
      background: darkslateblue; }
      section#historique article ul li:nth-child(6) div {
        top: -4.5rem;
        left: -0.75rem;
        width: 7rem; }
    section#historique article ul li:nth-child(7) {
      background: teal;
      border-left-color: darkslateblue; }
    section#historique article ul li:nth-child(8) {
      background: teal; }
      section#historique article ul li:nth-child(8) div {
        bottom: -3rem;
        left: -3.5rem;
        width: 4rem; }
    section#historique article ul li:nth-child(9) {
      background: forestgreen;
      border-left-color: teal; }
    section#historique article ul li:nth-child(10) {
      background: forestgreen; }
    section#historique article ul li.end {
      border-color: transparent;
      border-left-color: forestgreen; }

section#cibles {
  background: url("./assets/devoxx-fr/target.png");
  background-size: cover; }
  section#cibles article {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 2fr;
    align-content: center;
    justify-items: center;
    grid-gap: .5rem; }
    section#cibles article .jvm-android {
      grid-column: 1 / 3; }
    section#cibles article img {
      width: 12vw;
      align-self: end;
      filter: drop-shadow(0 0 0.1rem black); }
    section#cibles article h4 {
      filter: drop-shadow(0 0 0.1rem black);
      border-radius: .5rem;
      display: flex;
      justify-content: center;
      align-items: center; }

section#performance_helloworld_kt article blockquote p {
  font-size: 1rem; }

section#performance_helloworld_kt article pre {
  display: none;
  margin: .5rem 0;
  font-size: .5rem; }

section#performance_helloworld_kt article table {
  font-size: .75rem;
  align-self: center; }
  section#performance_helloworld_kt article table td {
    font-family: var(--codeFont); }

section#billion_dollar_mistake {
  background: url("./assets/devoxx-fr/mistake.png");
  background-size: cover; }
  section#billion_dollar_mistake article blockquote p {
    font-size: .85rem; }

section#generics article pre::after, section#star article pre::after {
  display: none; }

section#part_pause {
  background: url("./assets/devoxx-fr/break.png");
  background-size: cover;
  filter: blur(8px); }
  section#part_pause h2 {
    color: rgba(0, 0, 0, 0.5);
    text-shadow: none;
    font-size: 6rem;
    cursor: pointer; }
    section#part_pause h2::before {
      content: '⏸ ';
      color: white; }
  section#part_pause article {
    font-size: 4rem;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    font-family: var(--codeFont);
    padding: 1rem; }
    section#part_pause article .sep::before {
      content: ':';
      color: rgba(0, 0, 0, 0.75); }
    section#part_pause article .digit {
      background-color: rgba(0, 0, 0, 0.75);
      border-radius: 1rem;
      color: rgba(255, 255, 255, 0.75);
      margin: .125rem;
      width: 1.5ch;
      display: flex;
      justify-content: center; }

section#performances_sur_10_ article blockquote p {
  font-size: 1rem; }

section#performances_sur_10_ article table {
  font-size: .6rem;
  align-self: center; }
  section#performances_sur_10_ article table td {
    font-family: var(--codeFont); }
    section#performances_sur_10_ article table td:nth-child(n + 3) {
      text-align: right; }

section#performance_des_sequences article blockquote p, section#performance_des_sequences2 article blockquote p {
  font-size: 1rem; }

section#performance_des_sequences article table, section#performance_des_sequences2 article table {
  font-size: .6rem;
  align-self: center; }
  section#performance_des_sequences article table td, section#performance_des_sequences2 article table td {
    font-family: var(--codeFont); }
    section#performance_des_sequences article table td:nth-child(n + 3), section#performance_des_sequences2 article table td:nth-child(n + 3) {
      text-align: right; }

section#android {
  background: url("./assets/devoxx-fr/android.png");
  background-size: cover; }
  section#android h3::before {
    background-image: url("./assets/brands/android.svg");
    content: ' ';
    width: 1em;
    height: 1em;
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain; }

section#serveur {
  background: url("./assets/devoxx-fr/server.png");
  background-size: cover; }

section#web_et_natif {
  background: url("./assets/devoxx-fr/natif.png");
  background-size: cover; }

section#tendance {
  background: url("./assets/devoxx-fr/stock-exchange.png");
  background-size: cover; }
  section#tendance article {
    justify-content: space-around; }
    section#tendance article svg {
      max-height: 66vh;
      background: rgba(255, 255, 255, 0.75);
      border-radius: 1rem; }
      section#tendance article svg .axis-label {
        font-size: .25rem; }
    section#tendance article a {
      align-self: center; }

section#kotlin_vs_java {
  background: url("./assets/devoxx-fr/dino.png");
  background-size: cover; }
  section#kotlin_vs_java article blockquote p {
    font-size: 1rem; }

section#liens, section#liens_presentation {
  background: url("./assets/devoxx-fr/links.png");
  background-size: cover; }

section#bibliotheques {
  background: url("./assets/devoxx-fr/library.png");
  background-size: cover; }

section#merci {
  background: url("./assets/devoxx-fr/thanks.png");
  background-size: cover; }
  section#merci h1 {
    margin: 5rem 0; }
