.gdg {
  --who: 'BBL Toulouse';
  --alpha1: rgba(0, 0, 0, 0.54);
  --alpha2: rgba(0, 0, 0, 0.87);
  --primary: #364081;
  --secondary: white;
  --fontBody: system, system-ui, sans-serif;
  --coverFont: system, system-ui, sans-serif;
  --titleFont: system, system-ui, sans-serif;
  --codeFont: code, monospace;
  --footerFont: code, monospace;
  --partFont: 'Permanent Marker', cursive;
  --quoteFont: 'Just Another Hand', cursive;
  --counterFont: 'Press Start 2P', fantasy;
  --bgNavbar: var(--secondary);
  --fgNavbar: var(--primary);
  --shadowNavbar: rgba(0, 0, 0, 0.2);
  --headerHeight: 3rem;
  --footerHeight: 2rem;
  --bgSlide: radial-gradient(ellipse at center, transparent, transparent 60%, rgba(0, 0, 0, 0.1) 80%, rgba(0, 0, 0, 0.3) 100%), var(--secondary);
  --fgSlide: var(--primary);
  --bgCover: radial-gradient(ellipse at center, transparent, transparent 60%, rgba(0, 0, 0, 0.1) 80%, rgba(0, 0, 0, 0.3) 100%), var(--secondary);
  --fgCover: var(--primary);
  --bgPart: radial-gradient(ellipse at center, transparent, transparent 60%, rgba(0, 0, 0, 0.1) 80%, rgba(0, 0, 0, 0.3) 100%), var(--secondary);
  --fgPart: var(--primary);
  --headerFontSize: 1.5rem;
  --bgHeader: var(--primary);
  --fgHeader: var(--secondary);
  --bgSlideNav: transparent;
  --fgSlideNav: rgba(0, 0, 0, 0.2);
  --navigationWidth: 10vw;
  --bgCounter: transparent;
  --fgCounter: var(--secondary);
  --txtFooter: ' @ToulouseJS @ilaborie';
  --bgFooter: #0095D5;
  --fgFooter: var(--secondary);
  --logoFooter: url("./assets/bbl/BBL_light.png");
  --bgCode: #2b2b2b;
  --fgCode: #bababa; }
