@charset "UTF-8";
/*

Darcula color scheme from the JetBrains family of IDEs

*/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #2b2b2b; }

.hljs {
  color: #bababa; }

.hljs-strong,
.hljs-emphasis {
  color: #a8a8a2; }

.hljs-bullet,
.hljs-quote,
.hljs-link,
.hljs-number,
.hljs-regexp,
.hljs-literal {
  color: #6896ba; }

.hljs-code,
.hljs-selector-class {
  color: #a6e22e; }

.hljs-emphasis {
  font-style: italic; }

.hljs-keyword,
.hljs-selector-tag,
.hljs-section,
.hljs-attribute,
.hljs-name,
.hljs-variable {
  color: #cb7832; }

.hljs-params {
  color: #b9b9b9; }

.hljs-string {
  color: #6a8759; }

.hljs-subst,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-symbol,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-template-tag,
.hljs-template-variable,
.hljs-addition {
  color: #e0c46c; }

.hljs-comment,
.hljs-deletion,
.hljs-meta {
  color: #7f7f7f; }

body.kotlinBbl {
  --txtFooter: '#BrownBagLunch @ilaborie #kotlin';
  background: linear-gradient(27deg, #ebebeb 0.125rem, transparent 0.125rem) 0 0.125rem, linear-gradient(207deg, #ebebeb 0.125rem, transparent 0.125rem) 0.25rem 0, linear-gradient(27deg, #dedede 0.125rem, transparent 0.125rem) 0 0.25rem, linear-gradient(207deg, #dedede 0.125rem, transparent 0.125rem) 0.25rem 0.125rem, linear-gradient(90deg, #e3e3e3 0.25rem, transparent 0.25rem), linear-gradient(#e3e3e3 25%, #e6e6e6 25%, #e6e6e6 50%, transparent 50%, transparent 75%, #dbdbdb 75%, #dbdbdb);
  background-color: #ededed;
  background-size: 0.5rem 0.5rem;
  --bgHeader: linear-gradient(to right, #0095D5 0%, #238AD9 30%, #557BDE 62%, #806EE3 100%); }
  body.kotlinBbl section::after {
    background: url("./assets/bbl/BBL_light.png") no-repeat right, linear-gradient(to right, #0095D5 0%, #238AD9 30%, #557BDE 62%, #806EE3 100%); }

.water-pouring-demo {
  background: rgba(255, 255, 255, 0.25);
  border-radius: .5rem;
  font-size: .6rem; }
  .water-pouring-demo h1 {
    display: none; }
  .water-pouring-demo .main ul {
    font-size: .6rem; }

.glass-container div:nth-child(2) {
  transform: scale(1.5);
  display: flex;
  align-items: center; }

/*buttons*/
.main button {
  font-size: 1.25em;
  border-radius: 2.5em;
  border: medium solid currentColor;
  padding: .25em .5em;
  background-color: #fff;
  outline: currentColor 1px; }

/*inputs*/
input[type=number] {
  width: 4ch;
  margin: 0 1ch; }

/*main and layout */
.main {
  display: grid;
  grid-gap: .5em;
  grid-template-columns: 1fr 1fr;
  margin: .5em; }
  .main h1, .main .btn-solve, .main .error, .main ul {
    grid-column: 1 / 3; }
  .main h1 {
    text-align: center; }
  .main .error {
    font-size: 1.25em;
    background-color: firebrick;
    color: white;
    padding: .25em 1em;
    white-space: pre;
    overflow: auto; }

.error:empty {
  display: none; }

/*State*/
.state {
  display: flex;
  justify-content: space-around;
  align-items: flex-end; }
  .state.initial {
    box-shadow: 0.5rem 0 0 rgba(0, 0, 0, 0.25); }

/*glass container*/
.glass-container {
  display: flex;
  flex-direction: column;
  margin: 1em;
  justify-content: flex-end;
  align-items: center; }

/*Glass*/
.glass {
  width: 3em;
  margin-top: 2.5em;
  margin-bottom: .5em;
  display: inline-block;
  color: lightblue;
  background-color: currentColor;
  border: medium solid currentColor;
  border-bottom-width: .8em;
  border-top: none;
  border-radius: .25em;
  transform: perspective(0.5em) rotateX(-1deg) scaleY(0.8);
  transform-origin: bottom;
  box-shadow: 0.125em 0.125em 0.25em rgba(0, 0, 0, 0.5), inset 0.625em 0.25em 2.5em rgba(255, 255, 255, 0.9); }

/*solve list*/
.main ul {
  list-style: none;
  padding: 0; }
  .main ul li {
    display: grid;
    grid-gap: .5em;
    grid-template-columns: 1fr 1fr;
    border: thin solid rgba(0, 0, 0, 0.25);
    margin: .25em 0;
    padding: .25em; }

/*move*/
.move {
  align-self: center;
  justify-self: center;
  font-size: 1.5em; }

section article > pre.hljs {
  align-self: center; }

#kotlinBbl h1 {
  background-image: url("./assets/brands/kotlin-logo-text.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 50vh; }
  #kotlinBbl h1::before {
    color: #000;
    content: 'Découvrir';
    font-weight: bold; }

#speakers {
  color: #fff;
  z-index: 2; }
  #speakers::after {
    display: none; }
  #speakers article {
    flex-direction: column;
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    background: #00b0f0;
    max-height: 100vh;
    display: flex;
    align-items: stretch;
    justify-content: space-around; }
    #speakers article .emmanuel {
      grid-area: manu; }
    #speakers article .igor {
      grid-area: igor; }
    #speakers article .emmanuel, #speakers article .igor {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center; }
      #speakers article .emmanuel img.speakerRound, #speakers article .igor img.speakerRound {
        width: 128px;
        float: left;
        margin-right: 20px;
        margin-top: 22px;
        border-radius: 100px;
        overflow: hidden;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3); }
      #speakers article .emmanuel a > img, #speakers article .emmanuel a > svg, #speakers article .igor a > img, #speakers article .igor a > svg {
        height: 25vh; }
      #speakers article .emmanuel > *, #speakers article .igor > * {
        align-self: center;
        text-align: center;
        white-space: nowrap; }
      #speakers article .emmanuel h4, #speakers article .igor h4 {
        font-size: 1.25rem;
        font-weight: bold; }
      #speakers article .emmanuel span, #speakers article .emmanuel a, #speakers article .igor span, #speakers article .igor a {
        grid-column: 2 / 3; }
      #speakers article .emmanuel a, #speakers article .igor a {
        font-size: .8rem;
        margin-top: .5rem; }
        #speakers article .emmanuel a[href*="twitter"]::before, #speakers article .igor a[href*="twitter"]::before {
          background-image: url("./assets/brands/twitter-white.svg"); }
    #speakers article > a {
      align-self: center;
      grid-area: mkp; }

#historique article {
  color: white; }
  #historique article ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: .125rem;
    width: 100%; }
    #historique article ul li {
      position: relative;
      height: 2rem;
      display: flex;
      align-items: center; }
      #historique article ul li strong {
        text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
        display: inline-block;
        text-align: center; }
      #historique article ul li div {
        display: inline-block;
        position: absolute;
        background: rgba(0, 0, 0, 0.8);
        border-radius: .5rem;
        padding: 0 0.5rem;
        font-size: .5rem;
        transform: rotate(-20deg); }
        #historique article ul li div mark {
          padding: 0 .125rem;
          border-radius: .125rem; }
    #historique article ul li:nth-child(2n) {
      flex-grow: 1; }
    #historique article ul li.start, #historique article ul li.sep, #historique article ul li.end {
      border: 1rem solid transparent;
      display: inline-block;
      height: 0; }
    #historique article ul li.start {
      border-color: darkslategray;
      border-left-color: transparent; }
    #historique article ul li:nth-child(2) {
      background: darkslategray; }
      #historique article ul li:nth-child(2) div {
        top: -2.8rem;
        left: 0.5rem;
        width: 5rem; }
    #historique article ul li:nth-child(3) {
      background: darkmagenta;
      border-left-color: darkslategray; }
    #historique article ul li:nth-child(4) {
      background: darkmagenta; }
      #historique article ul li:nth-child(4) div {
        bottom: -4.9rem;
        left: -4rem;
        width: 4.5rem; }
    #historique article ul li:nth-child(5) {
      background: darkslateblue;
      border-left-color: darkmagenta; }
    #historique article ul li:nth-child(6) {
      background: darkslateblue; }
      #historique article ul li:nth-child(6) div {
        top: -5.8rem;
        left: -0.75rem;
        width: 7rem; }
    #historique article ul li:nth-child(7) {
      background: teal;
      border-left-color: darkslateblue; }
    #historique article ul li:nth-child(8) {
      background: teal; }
      #historique article ul li:nth-child(8) div {
        bottom: -4rem;
        left: -3.5rem;
        width: 4rem; }
    #historique article ul li:nth-child(9) {
      background: forestgreen;
      border-left-color: teal; }
    #historique article ul li:nth-child(10) {
      background: forestgreen; }
    #historique article ul li.end {
      border-color: transparent;
      border-left-color: forestgreen; }

section.list-big {
  font-size: 1.3rem; }

#cible article {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 2fr;
  align-content: center;
  justify-items: center;
  grid-gap: .5rem; }
  #cible article .jvm-android {
    grid-column: 1 / 3; }
  #cible article h4 {
    background: rgba(255, 255, 255, 0.5); }
  #cible article img {
    width: 12vw;
    align-self: end; }

#verres article, #remplir article, #vider article, #verser article {
  align-items: stretch; }
  #verres article > div, #remplir article > div, #vider article > div, #verser article > div {
    margin-top: -2rem;
    display: flex;
    font-weight: bold;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end; }
    #verres article > div .glass-container, #remplir article > div .glass-container, #vider article > div .glass-container, #verser article > div .glass-container {
      margin: 0 2rem -2rem 2rem; }
    #verres article > div .ope, #remplir article > div .ope, #vider article > div .ope, #verser article > div .ope {
      font-size: 2rem; }

#demo article {
  align-items: stretch;
  justify-content: flex-start; }
  #demo article .water-pouring-demo .main {
    pointer-events: auto;
    overflow: auto;
    max-height: 75vh; }
    #demo article .water-pouring-demo .main button {
      color: var(--primary); }

#theiere_magique article {
  align-items: center; }
  #theiere_magique article img {
    height: 75vh; }

section.operation article {
  align-items: stretch; }
  section.operation article > div {
    margin-top: -2rem;
    display: flex;
    font-weight: bold;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end; }
    section.operation article > div .glass-container {
      margin: 0 2rem -2rem 2rem; }
    section.operation article > div .ope {
      font-size: 2rem; }

#question h3 {
  font-size: 2rem; }
