@charset "UTF-8";
@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma"); }

@font-face {
  font-family: code;
  font-style: normal;
  font-weight: 300;
  src: local("Fira Code"), local("Menlo"), local("Monaco"); }

:root {
  --who: 'World !';
  --baseFontSize: 4vmin;
  --primary: #222;
  --secondary: #efefef;
  --black: #000;
  --white: #fff;
  --fontBody: system, system-ui, sans-serif;
  --coverFont: system, system-ui, sans-serif;
  --titleFont: system, system-ui, sans-serif;
  --codeFont: code, monospace;
  --footerFont: code, monospace;
  --partFont: 'Permanent Marker', cursive;
  --quoteFont: 'Just Another Hand', cursive;
  --counterFont: 'Pixel Emulator', fantasy;
  --bgNavbar: var(--white);
  --fgNavbar: var(--primary);
  --shadowNavbar: rgba(0, 0, 0, .2);
  --headerHeight: 3rem;
  --footerHeight: 2rem;
  --bgSlide: var(--secondary);
  --fgSlide: var(--primary);
  --bgCover: var(--secondary);
  --fgCover: var(--primary);
  --bgPart: var(--secondary);
  --fgPart: var(--primary);
  --headerFontSize: 1.5rem;
  --bgHeader: var(--primary);
  --fgHeader: var(--secondary);
  --bgSlideNav: transparent;
  --fgSlideNav: rgba(0, 0, 0, .2);
  --navigationWidth: 10vw;
  --bgCounter: transparend;
  --fgCounter: var(--secondary);
  --txtFooter: '@ilaborie';
  --bgFooter: var(--primary);
  --fgFooter: var(--secondary);
  --bgCode: #2b2b2b;
  --fgCode: #bababa; }

.slides-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  transition: all .4s ease-out;
  color: transparent;
  display: grid;
  padding: 0 .25rem;
  grid-column-gap: .1rem; }
  .slides-nav:hover {
    background: var(--bgNavbar);
    color: var(--fgNavbar);
    box-shadow: 0 0 2rem var(--shadowNavbar); }
  .slides-nav strong {
    font-size: .3rem;
    text-align: center; }
  .slides-nav nav {
    font-size: .4rem;
    text-align: center; }
  .slides-nav a {
    font-family: var(--codeFont);
    color: inherit;
    text-align: center;
    text-decoration: none; }
    .slides-nav a.part {
      font-weight: bold; }
    .slides-nav a.cover {
      grid-row: 1 / 3;
      align-self: center; }

main {
  counter-reset: section; }

main section {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  background: var(--bgSlide);
  color: var(--fgSlide);
  display: grid;
  grid-template-columns: var(--navigationWidth) calc(100vw - 2 * var(--navigationWidth) - 0.5rem) var(--navigationWidth);
  grid-template-rows: var(--headerHeight) auto var(--footerHeight);
  grid-gap: .25rem;
  grid-template-areas: "🎩 🎩 🎩" "👈 🌈 👉" "👟 👟 👟"; }

section h1, section h2 {
  grid-area: 🌈; }

section h3 {
  grid-area: 🎩; }

section .previous {
  grid-area: 👈; }

section article {
  grid-area: 🌈; }

section .next {
  grid-area: 👉; }

section::after {
  grid-area: 👟; }

section::before {
  grid-area: 🎩; }

section h1, section h2, section .previous, section .next {
  justify-self: center;
  align-self: center; }

section h1, section h2 {
  margin-top: calc(var(--headerHeight) / -2); }

section::before {
  justify-self: end;
  align-self: center;
  z-index: 1;
  padding: 0.5rem;
  font-family: var(--counterFont);
  font-size: 1rem;
  counter-increment: section;
  content: "#" counter(section);
  color: var(--fgCounter);
  background: linear-gradient(45deg, transparent 4em, transparent 0, var(--bgCounter) 4.5em); }

section::after {
  display: flex;
  align-items: center;
  background: var(--bgFooter) var(--logoFooter) no-repeat right;
  background-size: contain;
  background-origin: content-box;
  color: var(--fgFooter);
  font-family: var(--footerFont);
  font-size: .9rem;
  content: var(--txtFooter);
  padding: .1rem .5rem; }

section a.previous,
section a.next {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: transparent;
  text-decoration: none;
  outline: none; }
  section a.previous:hover,
  section a.next:hover {
    color: var(--fgSlideNav);
    text-decoration: none; }

section a.previous::after,
section a.next::before {
  content: ''; }

section a.previous::before,
section a.next::after {
  content: '';
  font-size: 6rem;
  text-decoration: none;
  margin-top: calc(var(--headerHeight) / -2); }

section a.previous {
  cursor: w-resize; }
  section a.previous::before {
    content: '‹'; }

section a.next {
  cursor: e-resize; }
  section a.next::after {
    content: '›'; }

main {
  overflow: hidden; }

section {
  transform: translateX(-100vmax);
  transition: transform .6s ease-out, opacity .6s ease-out; }

section:target {
  transform: translateX(0);
  opacity: 1; }

section:target ~ section {
  transform: translateX(100vmax); }

section > h3 {
  margin: 0;
  align-self: stretch;
  flex: 0 0 auto;
  padding: .25em 1em;
  font-family: var(--titleFont);
  font-size: var(--headerFontSize);
  background: var(--bgHeader);
  color: var(--fgHeader); }

section h4 {
  align-self: stretch;
  flex: 0 0 auto;
  margin: 0;
  padding: .25em .5em; }

section article {
  max-height: calc(100vh - var(--footerHeight) - var(--headerHeight) - .5rem);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
  align-items: flex-start; }

section.cover {
  background: var(--bgCover);
  color: var(--fgCover); }
  section.cover h1 {
    font-family: var(--coverFont);
    font-size: 4rem;
    text-align: center;
    font-weight: bold; }
  section.cover::before {
    display: none; }

section.part {
  background: var(--bgPart);
  color: var(--fgPart); }
  section.part h2 {
    font-family: var(--partFont);
    font-size: 3rem;
    text-align: center; }

section.two-columns article ul, section.two-columns article ol {
  column-count: 2;
  column-gap: 2em; }

section.roadmap article ol {
  list-style: upper-roman; }

section.hide-title > h1, section.hide-title > h2, section.hide-title > h3 {
  display: none; }

section.live-code article {
  justify-content: stretch;
  align-items: stretch;
  display: flex;
  flex-direction: column; }
  section.live-code article .editable {
    flex: 1 1 auto; }

section.full-screen > h1, section.full-screen > h2, section.full-screen > h3 {
  display: none; }

section.full-screen article {
  max-height: 100vh;
  grid-row: 1 / 4; }
  section.full-screen article.full-screen {
    grid-column: 1 / 4; }
    section.full-screen article.full-screen .toolbar .full-screen::before {
      content: '️'; }

section.full-screen::before, section.full-screen::after {
  display: none; }

section.steps .step {
  opacity: 0;
  transition-duration: .2s;
  transition-timing-function: ease-out;
  transform: scale(0.5); }
  section.steps .step.step-current {
    opacity: 1;
    transform: scale(1); }
  section.steps .step.step-done {
    opacity: .8;
    transform: scale(1); }

/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */
code[class*="language-"],
pre[class*="language-"] {
  color: black;
  background: none;
  text-shadow: 0 1px white;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
  text-shadow: none;
  background: #b3d4fc; }

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
  text-shadow: none;
  background: #b3d4fc; }

@media print {
  code[class*="language-"],
  pre[class*="language-"] {
    text-shadow: none; } }

/* Code blocks */
pre[class*="language-"] {
  padding: 1em;
  margin: .5em 0;
  overflow: auto; }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f5f2f0; }

/* Inline code */
:not(pre) > code[class*="language-"] {
  padding: .1em;
  border-radius: .3em;
  white-space: normal; }

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
  color: slategray; }

.token.punctuation {
  color: #999; }

.namespace {
  opacity: .7; }

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
  color: #905; }

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
  color: #690; }

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
  color: #9a6e3a;
  background: rgba(255, 255, 255, 0.5); }

.token.atrule,
.token.attr-value,
.token.keyword {
  color: #07a; }

.token.function,
.token.class-name {
  color: #DD4A68; }

.token.regex,
.token.important,
.token.variable {
  color: #e90; }

.token.important,
.token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }

code, pre {
  font-family: var(--codeFont); }

pre.hljs {
  overflow: visible;
  font-size: .8rem;
  box-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.75);
  border-radius: .25rem;
  tab-size: 2;
  min-width: 100%; }

section article a, section h1 a, section h2 a, section h3 a, section h4 a {
  align-self: flex-start;
  text-decoration: none;
  color: currentColor;
  border-bottom: thin dashed currentColor; }
  section article a:hover, section h1 a:hover, section h2 a:hover, section h3 a:hover, section h4 a:hover {
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); }
  section article a::before, section h1 a::before, section h2 a::before, section h3 a::before, section h4 a::before {
    content: '➼ '; }
  section article a[href*="github"]::before, section article a[href*="twitter"]::before, section article a[href*="jetbrains"]::before, section article a[href*="mozilla"]::before, section article a[href*="youtube"]::before, section article a[href*="kotlin"]::before, section article a[href*="android"]::before, section article a[href*="spring-framework"]::before, section article a[href*="spring-boot"]::before, section article a[href*="docs.google"]::before, section article a[href*="sparktutorials"]::before, section article a[href*="sparkjava"]::before, section article a[href*="javalin"]::before, section article a[href*="immutable"]::before, section article a[href*="ramda"]::before, section article a[href*="elm"]::before, section article a[href*="reasonml"]::before, section article a[href*="purescript"]::before, section article a[href*="clojurescript"]::before, section article a[href*="medium"]::before, section article a[href*="tc39"]::before, section article a[href*="vertx"]::before, section article a[href*="ktor"]::before, section article a[href*="stackoverflow"]::before, section h1 a[href*="github"]::before, section h1 a[href*="twitter"]::before, section h1 a[href*="jetbrains"]::before, section h1 a[href*="mozilla"]::before, section h1 a[href*="youtube"]::before, section h1 a[href*="kotlin"]::before, section h1 a[href*="android"]::before, section h1 a[href*="spring-framework"]::before, section h1 a[href*="spring-boot"]::before, section h1 a[href*="docs.google"]::before, section h1 a[href*="sparktutorials"]::before, section h1 a[href*="sparkjava"]::before, section h1 a[href*="javalin"]::before, section h1 a[href*="immutable"]::before, section h1 a[href*="ramda"]::before, section h1 a[href*="elm"]::before, section h1 a[href*="reasonml"]::before, section h1 a[href*="purescript"]::before, section h1 a[href*="clojurescript"]::before, section h1 a[href*="medium"]::before, section h1 a[href*="tc39"]::before, section h1 a[href*="vertx"]::before, section h1 a[href*="ktor"]::before, section h1 a[href*="stackoverflow"]::before, section h2 a[href*="github"]::before, section h2 a[href*="twitter"]::before, section h2 a[href*="jetbrains"]::before, section h2 a[href*="mozilla"]::before, section h2 a[href*="youtube"]::before, section h2 a[href*="kotlin"]::before, section h2 a[href*="android"]::before, section h2 a[href*="spring-framework"]::before, section h2 a[href*="spring-boot"]::before, section h2 a[href*="docs.google"]::before, section h2 a[href*="sparktutorials"]::before, section h2 a[href*="sparkjava"]::before, section h2 a[href*="javalin"]::before, section h2 a[href*="immutable"]::before, section h2 a[href*="ramda"]::before, section h2 a[href*="elm"]::before, section h2 a[href*="reasonml"]::before, section h2 a[href*="purescript"]::before, section h2 a[href*="clojurescript"]::before, section h2 a[href*="medium"]::before, section h2 a[href*="tc39"]::before, section h2 a[href*="vertx"]::before, section h2 a[href*="ktor"]::before, section h2 a[href*="stackoverflow"]::before, section h3 a[href*="github"]::before, section h3 a[href*="twitter"]::before, section h3 a[href*="jetbrains"]::before, section h3 a[href*="mozilla"]::before, section h3 a[href*="youtube"]::before, section h3 a[href*="kotlin"]::before, section h3 a[href*="android"]::before, section h3 a[href*="spring-framework"]::before, section h3 a[href*="spring-boot"]::before, section h3 a[href*="docs.google"]::before, section h3 a[href*="sparktutorials"]::before, section h3 a[href*="sparkjava"]::before, section h3 a[href*="javalin"]::before, section h3 a[href*="immutable"]::before, section h3 a[href*="ramda"]::before, section h3 a[href*="elm"]::before, section h3 a[href*="reasonml"]::before, section h3 a[href*="purescript"]::before, section h3 a[href*="clojurescript"]::before, section h3 a[href*="medium"]::before, section h3 a[href*="tc39"]::before, section h3 a[href*="vertx"]::before, section h3 a[href*="ktor"]::before, section h3 a[href*="stackoverflow"]::before, section h4 a[href*="github"]::before, section h4 a[href*="twitter"]::before, section h4 a[href*="jetbrains"]::before, section h4 a[href*="mozilla"]::before, section h4 a[href*="youtube"]::before, section h4 a[href*="kotlin"]::before, section h4 a[href*="android"]::before, section h4 a[href*="spring-framework"]::before, section h4 a[href*="spring-boot"]::before, section h4 a[href*="docs.google"]::before, section h4 a[href*="sparktutorials"]::before, section h4 a[href*="sparkjava"]::before, section h4 a[href*="javalin"]::before, section h4 a[href*="immutable"]::before, section h4 a[href*="ramda"]::before, section h4 a[href*="elm"]::before, section h4 a[href*="reasonml"]::before, section h4 a[href*="purescript"]::before, section h4 a[href*="clojurescript"]::before, section h4 a[href*="medium"]::before, section h4 a[href*="tc39"]::before, section h4 a[href*="vertx"]::before, section h4 a[href*="ktor"]::before, section h4 a[href*="stackoverflow"]::before {
    content: '';
    width: 1em;
    height: 1em;
    display: inline-block;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain; }
  section article a[href*="stackoverflow"]::before, section h1 a[href*="stackoverflow"]::before, section h2 a[href*="stackoverflow"]::before, section h3 a[href*="stackoverflow"]::before, section h4 a[href*="stackoverflow"]::before {
    background-image: url("./assets/brands/stackoverflow.svg"); }
  section article a[href*="medium"]::before, section h1 a[href*="medium"]::before, section h2 a[href*="medium"]::before, section h3 a[href*="medium"]::before, section h4 a[href*="medium"]::before {
    background-image: url("./assets/brands/medium.svg"); }
  section article a[href*="spring-framework"]::before, section h1 a[href*="spring-framework"]::before, section h2 a[href*="spring-framework"]::before, section h3 a[href*="spring-framework"]::before, section h4 a[href*="spring-framework"]::before {
    background-image: url("./assets/brands/spring.svg"); }
  section article a[href*="spring-boot"]::before, section h1 a[href*="spring-boot"]::before, section h2 a[href*="spring-boot"]::before, section h3 a[href*="spring-boot"]::before, section h4 a[href*="spring-boot"]::before {
    background-image: url("./assets/brands/springboot.svg"); }
  section article a[href*="android"]::before, section h1 a[href*="android"]::before, section h2 a[href*="android"]::before, section h3 a[href*="android"]::before, section h4 a[href*="android"]::before {
    background-image: url("./assets/brands/android.svg"); }
  section article a[href*="github"]::before, section h1 a[href*="github"]::before, section h2 a[href*="github"]::before, section h3 a[href*="github"]::before, section h4 a[href*="github"]::before {
    background-image: url("./assets/brands/github-octocat.svg"); }
  section article a[href*="twitter"]::before, section h1 a[href*="twitter"]::before, section h2 a[href*="twitter"]::before, section h3 a[href*="twitter"]::before, section h4 a[href*="twitter"]::before {
    background-image: url("./assets/brands/twitter.svg"); }
  section article a[href*="mozilla"]::before, section h1 a[href*="mozilla"]::before, section h2 a[href*="mozilla"]::before, section h3 a[href*="mozilla"]::before, section h4 a[href*="mozilla"]::before {
    background-image: url("./assets/brands/mdn.svg"); }
  section article a[href*="youtube"]::before, section h1 a[href*="youtube"]::before, section h2 a[href*="youtube"]::before, section h3 a[href*="youtube"]::before, section h4 a[href*="youtube"]::before {
    background-image: url("./assets/brands/youtube.svg"); }
  section article a[href*="youtube"]::before, section h1 a[href*="youtube"]::before, section h2 a[href*="youtube"]::before, section h3 a[href*="youtube"]::before, section h4 a[href*="youtube"]::before {
    background-image: url("./assets/brands/youtube.svg"); }
  section article a[href*="kotlinlang"]::before, section article a[href*="kotlin.link"]::before, section h1 a[href*="kotlinlang"]::before, section h1 a[href*="kotlin.link"]::before, section h2 a[href*="kotlinlang"]::before, section h2 a[href*="kotlin.link"]::before, section h3 a[href*="kotlinlang"]::before, section h3 a[href*="kotlin.link"]::before, section h4 a[href*="kotlinlang"]::before, section h4 a[href*="kotlin.link"]::before {
    background-image: url("./assets/brands/kotlin.svg"); }
  section article a[href*="slack"]::before, section h1 a[href*="slack"]::before, section h2 a[href*="slack"]::before, section h3 a[href*="slack"]::before, section h4 a[href*="slack"]::before {
    background-image: url("./assets/brands/slack.svg"); }
  section article a[href*="jetbrains"]::before, section h1 a[href*="jetbrains"]::before, section h2 a[href*="jetbrains"]::before, section h3 a[href*="jetbrains"]::before, section h4 a[href*="jetbrains"]::before {
    background-image: url("./assets/brands/intellij-idea.svg"); }
  section article a[href*="docs.google"]::before, section h1 a[href*="docs.google"]::before, section h2 a[href*="docs.google"]::before, section h3 a[href*="docs.google"]::before, section h4 a[href*="docs.google"]::before {
    background-image: url("./assets/brands/google-doc.png"); }
  section article a[href*="sparktutorials"]::before, section h1 a[href*="sparktutorials"]::before, section h2 a[href*="sparktutorials"]::before, section h3 a[href*="sparktutorials"]::before, section h4 a[href*="sparktutorials"]::before {
    background-image: url("./assets/brands/spark-java.png"); }
  section article a[href*="sparkjava"]::before, section h1 a[href*="sparkjava"]::before, section h2 a[href*="sparkjava"]::before, section h3 a[href*="sparkjava"]::before, section h4 a[href*="sparkjava"]::before {
    background-image: url("./assets/brands/spark-java.png"); }
  section article a[href*="javalin"]::before, section h1 a[href*="javalin"]::before, section h2 a[href*="javalin"]::before, section h3 a[href*="javalin"]::before, section h4 a[href*="javalin"]::before {
    background-image: url("./assets/brands/javalin.png"); }
  section article a[href*="vertx"]::before, section h1 a[href*="vertx"]::before, section h2 a[href*="vertx"]::before, section h3 a[href*="vertx"]::before, section h4 a[href*="vertx"]::before {
    background-image: url("./assets/brands/vertx.png"); }
  section article a[href*="ktor"]::before, section h1 a[href*="ktor"]::before, section h2 a[href*="ktor"]::before, section h3 a[href*="ktor"]::before, section h4 a[href*="ktor"]::before {
    background-image: url("./assets/brands/ktor.png"); }
  section article a[href*="ramda"]::before, section h1 a[href*="ramda"]::before, section h2 a[href*="ramda"]::before, section h3 a[href*="ramda"]::before, section h4 a[href*="ramda"]::before {
    background-image: url("./assets/brands/ramda.svg"); }
  section article a[href*="elm"]::before, section h1 a[href*="elm"]::before, section h2 a[href*="elm"]::before, section h3 a[href*="elm"]::before, section h4 a[href*="elm"]::before {
    background-image: url("./assets/brands/elm.svg"); }
  section article a[href*="reasonml"]::before, section h1 a[href*="reasonml"]::before, section h2 a[href*="reasonml"]::before, section h3 a[href*="reasonml"]::before, section h4 a[href*="reasonml"]::before {
    background-image: url("./assets/brands/reason.png"); }
  section article a[href*="purescript"]::before, section h1 a[href*="purescript"]::before, section h2 a[href*="purescript"]::before, section h3 a[href*="purescript"]::before, section h4 a[href*="purescript"]::before {
    background-image: url("./assets/brands/purescript.svg"); }
  section article a[href*="clojurescript"]::before, section h1 a[href*="clojurescript"]::before, section h2 a[href*="clojurescript"]::before, section h3 a[href*="clojurescript"]::before, section h4 a[href*="clojurescript"]::before {
    background-image: url("./assets/brands/cljs.png"); }
  section article a[href*="immutable"]::before, section h1 a[href*="immutable"]::before, section h2 a[href*="immutable"]::before, section h3 a[href*="immutable"]::before, section h4 a[href*="immutable"]::before {
    background-image: url("./assets/brands/immutable.png"); }
  section article a[href*="tc39"]::before, section h1 a[href*="tc39"]::before, section h2 a[href*="tc39"]::before, section h3 a[href*="tc39"]::before, section h4 a[href*="tc39"]::before {
    background-image: url("./assets/brands/tc39.png"); }
  section article a[href*="frog"]::before, section h1 a[href*="frog"]::before, section h2 a[href*="frog"]::before, section h3 a[href*="frog"]::before, section h4 a[href*="frog"]::before {
    content: '🐸 '; }
  section article a[href*="garden"]::before, section h1 a[href*="garden"]::before, section h2 a[href*="garden"]::before, section h3 a[href*="garden"]::before, section h4 a[href*="garden"]::before {
    content: '🥕 '; }
  section article a[href*="w3.org"]::before, section h1 a[href*="w3.org"]::before, section h2 a[href*="w3.org"]::before, section h3 a[href*="w3.org"]::before, section h4 a[href*="w3.org"]::before {
    content: '𝙬𝟯𝙘 ';
    color: navy;
    text-shadow: 1px 1px 8px #fff; }
  section article a[href*="css-tricks"]::before, section h1 a[href*="css-tricks"]::before, section h2 a[href*="css-tricks"]::before, section h3 a[href*="css-tricks"]::before, section h4 a[href*="css-tricks"]::before {
    content: '✽ ';
    color: #ff9800; }
  section article a[href*="commitstrip"]::before, section h1 a[href*="commitstrip"]::before, section h2 a[href*="commitstrip"]::before, section h3 a[href*="commitstrip"]::before, section h4 a[href*="commitstrip"]::before {
    content: '🎨 '; }
  section article a[href*="gridbyexample"]::before, section h1 a[href*="gridbyexample"]::before, section h2 a[href*="gridbyexample"]::before, section h3 a[href*="gridbyexample"]::before, section h4 a[href*="gridbyexample"]::before {
    content: '⌗ '; }
  section article a[href*="smashingmagazin"]::before, section h1 a[href*="smashingmagazin"]::before, section h2 a[href*="smashingmagazin"]::before, section h3 a[href*="smashingmagazin"]::before, section h4 a[href*="smashingmagazin"]::before {
    content: '𝓢 ';
    color: #e95c33; }
  section article a[href*="wikipedia"]::before, section h1 a[href*="wikipedia"]::before, section h2 a[href*="wikipedia"]::before, section h3 a[href*="wikipedia"]::before, section h4 a[href*="wikipedia"]::before {
    content: 'ⓦ ';
    color: #888; }
  section article a[href*="monkeypatch"]::before, section h1 a[href*="monkeypatch"]::before, section h2 a[href*="monkeypatch"]::before, section h3 a[href*="monkeypatch"]::before, section h4 a[href*="monkeypatch"]::before {
    content: ' '; }
  section article a[href*="fungus"]::before, section h1 a[href*="fungus"]::before, section h2 a[href*="fungus"]::before, section h3 a[href*="fungus"]::before, section h4 a[href*="fungus"]::before {
    content: ' '; }
  section article a[href*="caniuse"]::before, section h1 a[href*="caniuse"]::before, section h2 a[href*="caniuse"]::before, section h3 a[href*="caniuse"]::before, section h4 a[href*="caniuse"]::before {
    content: '📊 '; }
  section article a[href*="bit.ly"]::before, section h1 a[href*="bit.ly"]::before, section h2 a[href*="bit.ly"]::before, section h3 a[href*="bit.ly"]::before, section h4 a[href*="bit.ly"]::before {
    content: '🧛‍♂️'; }
  section article a[href^=mailto]::before, section h1 a[href^=mailto]::before, section h2 a[href^=mailto]::before, section h3 a[href^=mailto]::before, section h4 a[href^=mailto]::before {
    content: '✉️ '; }

.notice {
  font-size: .7rem;
  border-radius: .25rem;
  padding: .25rem;
  border: thin solid currentColor;
  align-self: stretch;
  background: rgba(255, 255, 255, 0.5); }
  .notice::before {
    font-size: 1.2rem;
    float: left; }
  .notice.notice-tips::before {
    content: '✨';
    font-weight: bold;
    white-space: pre;
    padding: .25rem; }
  .notice.notice-info::before {
    content: 'ℹ️';
    font-weight: bold;
    white-space: pre;
    padding: .25rem; }
  .notice ul {
    list-style: none; }

ul, ol, dl {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 1.8; }

dl {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: .8rem; }
  dl dt {
    font-weight: bold;
    justify-self: end; }

figure {
  display: flex;
  flex-direction: column;
  align-items: center; }
  figure img {
    max-width: 100%;
    max-height: 70vh; }
  figure .copyright {
    font-size: .75rem;
    margin: .5em auto; }

.editable {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: .25rem;
  margin-bottom: .25rem;
  background: linear-gradient(rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0.75)), linear-gradient(45deg, #fff 25%, transparent 25%, transparent 75%, #fff 75%, #fff) 0 0, linear-gradient(45deg, #fff 25%, #999 25%, #999 75%, #fff 75%, #fff) 1em 1em, #999;
  background-size: 2em 2em;
  z-index: -10; }

style[contenteditable=true] {
  padding: .5em;
  margin-top: .25rem;
  margin-bottom: .25rem;
  display: inline-block;
  outline: 0;
  white-space: pre;
  tab-size: 2;
  font-family: var(--codeFont);
  font-size: .667em;
  color: var(--fgCode);
  background: var(--bgCode);
  box-sizing: border-box;
  border: .125em solid transparent;
  background: linear-gradient(to left, var(--bgCode), var(--bgCode)) padding-box, repeating-linear-gradient(-45deg, var(--fgSlide) 0, var(--fgSlide) 25%, transparent 0, transparent 50%) 0/0.6em 0.6em;
  animation: ants 60s linear infinite; }

@keyframes ants {
  to {
    background-position: 100% 100%; } }

.compatibility-caption {
  font-size: .7rem; }
  .compatibility-caption::before {
    content: 'Navigateurs, usage ≥ '; }
  .compatibility-caption.country-FR::after {
    content: '% en France'; }
  .compatibility-caption.country-MA::after {
    content: '% au Maroc'; }

.compatibility {
  display: grid;
  font-size: .8rem;
  grid-gap: .1rem;
  grid-template-rows: 5em 1.2em;
  grid-auto-rows: 1fr; }
  .compatibility .browser, .compatibility .feature, .compatibility .value {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 15vh; }
  .compatibility .browser {
    padding-bottom: 100%;
    background-origin: padding-box;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    transform: scale(0.9);
    transition: transform .4s ease-in-out; }
    .compatibility .browser:hover {
      transform: scale(1);
      filter: drop-shadow(0 0 0.25rem black); }
    .compatibility .browser.mobile::before {
      content: '📱'; }
    .compatibility .browser.and_chr {
      background-image: url("./assets/browsers/and_chr.svg"); }
    .compatibility .browser.chrome {
      background-image: url("./assets/browsers/chrome.svg"); }
    .compatibility .browser.edge {
      background-image: url("./assets/browsers/edge.svg"); }
    .compatibility .browser.firefox {
      background-image: url("./assets/browsers/firefox.svg"); }
    .compatibility .browser.ie {
      background-image: url("./assets/browsers/ie.svg"); }
    .compatibility .browser.safari {
      background-image: url("./assets/browsers/safari.svg"); }
    .compatibility .browser.ios_saf {
      background-image: url("./assets/browsers/ios_saf.svg"); }
    .compatibility .browser.android {
      background-image: url("./assets/browsers/android.png"); }
    .compatibility .browser.opera {
      background-image: url("./assets/browsers/opera.svg"); }
    .compatibility .browser.and_uc {
      background-image: url("./assets/browsers/and_uc.png"); }
    .compatibility .browser.op_mini {
      background-image: url("./assets/browsers/op_mini.png"); }
  .compatibility .browser-percent {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .5rem; }
  .compatibility .feature {
    text-align: center;
    font-size: .5rem; }
  .compatibility .value {
    color: #fff;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: 1fr;
    align-items: stretch;
    font-size: .5rem; }
    .compatibility .value .available, .compatibility .value .not-available, .compatibility .value .partial, .compatibility .value .buggy {
      display: flex;
      justify-content: center;
      align-items: center; }
    .compatibility .value .available {
      background: #39b54a; }
    .compatibility .value .partial {
      background: #91b54c;
      position: relative; }
      .compatibility .value .partial .version {
        cursor: help; }
      .compatibility .value .partial .info {
        background: #91b54c; }
    .compatibility .value .buggy {
      background: orange;
      position: relative; }
      .compatibility .value .buggy .version {
        cursor: help; }
      .compatibility .value .buggy .info {
        background: orange; }
    .compatibility .value .not-available {
      background: #c44230; }
    .compatibility .value .version:hover ~ .info {
      display: inline-block; }
    .compatibility .value .info {
      position: absolute;
      display: none;
      top: 80%;
      z-index: 2;
      width: 20vw;
      border-radius: .1rem;
      box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.5); }
      .compatibility .value .info p {
        margin: 0;
        padding: .2em; }
    .compatibility .value.chrome, .compatibility .value.firefox {
      grid-template-columns: 1fr 1fr; }

.code-editor {
  align-self: stretch;
  height: 100%;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1.2rem auto 2fr 1fr;
  grid-template-areas: 'title title' 'toolbar toolbar' 'editor  editor ' 'console console'; }
  .code-editor h4 {
    grid-area: title;
    font-size: .8rem;
    display: flex;
    justify-content: center;
    align-items: center; }
  .code-editor.hide-console {
    grid-template-areas: 'toolbar toolbar' 'editor  editor ' 'editor  editor '; }
    .code-editor.hide-console .console-panel {
      display: none; }
  .code-editor .initialCode, .code-editor .finalCode {
    display: none; }
  .code-editor .toolbar {
    grid-area: toolbar;
    display: flex;
    justify-content: space-around;
    padding: .125rem; }
    .code-editor .toolbar button {
      font-size: .8rem;
      padding: .35em 1em;
      color: rgba(0, 0, 0, 0.8);
      border: thin solid rgba(0, 0, 0, 0.5);
      border-radius: .25em;
      outline-color: rgba(0, 0, 0, 0.5);
      text-decoration: none;
      display: inline-block;
      zoom: 1;
      white-space: nowrap;
      vertical-align: middle;
      text-align: center;
      cursor: pointer;
      box-sizing: border-box;
      filter: grayscale(1);
      transition: all .4s; }
      .code-editor .toolbar button:active {
        box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15) inset, 0 0 6px rgba(0, 0, 0, 0.2) inset;
        filter: none; }
      .code-editor .toolbar button:focus, .code-editor .toolbar button:hover {
        background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.05) 40%, rgba(0, 0, 0, 0.1));
        filter: none; }
      .code-editor .toolbar button::before:hover {
        filter: none; }
    .code-editor .toolbar .full-screen::before {
      content: '↔️'; }
    .code-editor .toolbar .toggle-console::before {
      content: '🖥'; }
    .code-editor .toolbar .reset::before {
      content: '🛑'; }
    .code-editor .toolbar .load-final::before {
      content: '🔮'; }
    .code-editor .toolbar .clear-console::before {
      content: '🗑'; }
    .code-editor .toolbar .format::before {
      content: '🎀'; }
    .code-editor .toolbar .run::before {
      content: '🚀'; }
  .code-editor .editor-panel {
    grid-area: editor;
    background: #1e1e1e;
    max-height: 100%;
    box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.5); }
  .code-editor .console-panel {
    grid-area: console;
    background: transparent;
    color: #1e1e1e;
    font-family: monospace;
    white-space: pre;
    max-height: 100%;
    font-size: 1rem;
    position: relative;
    border-bottom-left-radius: .125rem;
    border-bottom-right-radius: .125rem;
    box-shadow: inset 0 0 0.25rem rgba(0, 0, 0, 0.25), inset 0 0 6rem rgba(0, 0, 0, 0.125); }
    .code-editor .console-panel ul {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      line-height: 1.2;
      max-height: 100%;
      overflow: auto;
      padding-left: .25rem; }
      .code-editor .console-panel ul li {
        border-bottom: solid thin rgba(0, 0, 0, 0.0625); }
        .code-editor .console-panel ul li::before {
          color: darkcyan;
          content: '➽';
          font-weight: bold;
          margin-right: .25rem; }
        .code-editor .console-panel ul li.info::before {
          content: '𝚒';
          color: #181575; }
        .code-editor .console-panel ul li.warn::before {
          content: '⚠️';
          color: orangered; }
        .code-editor .console-panel ul li.error::before {
          content: '️❗️';
          color: #850a1f; }
        .code-editor .console-panel ul li.error {
          color: #850a1f; }
        .code-editor .console-panel ul li.result {
          font-weight: bold; }

html {
  font-size: var(--baseFontSize); }

body {
  font-family: var(--fontBody);
  margin: 0; }

blockquote p {
  font-family: var(--quoteFont);
  font-size: 1.5rem;
  text-align: justify; }
  blockquote p::before {
    content: '“ ';
    opacity: .5;
    display: inline-block;
    transform: scale(4) translateY(0.25rem);
    margin-right: 1.5em; }

.show-print {
  display: none; }
