@charset "UTF-8";
@font-face {
  font-family: 'Open Sans';
  src: url("fonts/Open_Sans/OpenSans-Regular.ttf"); }

@font-face {
  font-family: 'Open Sans';
  src: url("fonts/Open_Sans/OpenSans-Bold.ttf");
  font-weight: 700; }

@font-face {
  font-family: 'Pixel Emulator';
  src: url("fonts/Pixel_Emulator/Pixel Emulator.otf"); }

@font-face {
  font-family: 'Pacifico';
  src: url("fonts/Pacifico/Pacifico-Regular.ttf"); }

@font-face {
  font-family: 'Seaweed Script';
  src: url("fonts/Seaweed_Script/SeaweedScript-Regular.ttf"); }

@font-face {
  font-family: 'Fira Code';
  src: url("fonts/FiraCode/FiraCode-Regular.ttf"); }

:root {
  --primary: #222;
  --secondary: #efefef;
  --black: #000;
  --white: #fff;
  --fontBody: 'Open Sans', sans-serif;
  --coverFont: 'Open Sans', sans-serif;
  --partFont: 'Pacifico', cursive;
  --titleFont: 'Open Sans', sans-serif;
  --quoteFont: 'Seaweed Script', cursive;
  --codeFont: 'Fira Code', Menlo, Monaco, monospace;
  --counterFont: 'Pixel Emulator', monospace;
  --footerFont: 'Fira Code', monospace;
  --bgNavbar: var(--white);
  --fgNavbar: var(--primary);
  --shadowNavbar: rgba(0, 0, 0, 0.2);
  --bgSlide: var(--secondary);
  --fgSlide: var(--primary);
  --bgCover: var(--secondary);
  --fgCover: var(--primary);
  --bgPart: var(--secondary);
  --fgPart: var(--primary);
  --bgSlideNav: transparent;
  --fgSlideNav: rgba(0, 0, 0, 0.2);
  --navigationWidth: 15vw;
  --bgCounter: rgba(0, 0, 0, 0.1);
  --fgCounter: var(--black);
  --txtFooter: '@DevFestToulouse @ilaborie #CSS #🦄';
  --bgFooter: var(--primary);
  --fgFooter: var(--secondary);
  --logoFooter: url("./assets/logo_white.png"); }

.slides-nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  color: transparent;
  transition: all .4s ease-out; }
  .slides-nav:hover {
    background: var(--bgNavbar);
    color: var(--fgNavbar);
    box-shadow: 0 0 2rem var(--shadowNavbar); }
  .slides-nav nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 2.8rem;
    font-size: .75rem; }
    .slides-nav nav a {
      color: inherit;
      min-width: 2ch;
      text-align: center;
      text-decoration: none; }

main {
  counter-reset: section; }

main section {
  width: 100vw;
  height: 100vh;
  overflow: hidden; }

section {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  background: var(--bgSlide);
  color: var(--fgSlide); }

section::before {
  position: fixed;
  top: 0;
  right: 0;
  padding: 0 .5em 3em 3em;
  font-family: var(--counterFont);
  font-size: 2em;
  letter-spacing: -0.25em;
  counter-increment: section;
  content: "# " counter(section);
  text-shadow: 1px 1px 1px var(--white);
  color: var(--fgCounter);
  background: linear-gradient(45deg, transparent 4em, transparent 0, var(--bgCounter) 4.5em); }

section::after {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: .1rem .1rem .1rem .5em;
  background: var(--bgFooter) var(--logoFooter) no-repeat right;
  background-size: contain;
  background-origin: content-box;
  color: var(--fgFooter);
  font-family: var(--footerFont);
  content: var(--txtFooter); }

section .previous,
section .next {
  color: transparent; }
  section .previous:hover,
  section .next:hover {
    color: var(--fgSlideNav); }

section .previous::before,
section .next::after {
  width: var(--navigationWidth);
  background: var(--bgSlideNav);
  content: '';
  position: absolute;
  top: 25vh;
  z-index: 1;
  height: 50vh;
  font-size: 8rem;
  text-align: center;
  line-height: 40vh; }

section .previous::before {
  content: '‹';
  left: 0;
  cursor: w-resize; }

section .next::after {
  content: '›';
  right: 0;
  cursor: e-resize; }

main {
  overflow: hidden; }

section {
  transform: translateX(-100vmax);
  transition: transform .6s ease-out, opacity .6s ease-out;
  opacity: 0; }

section:target {
  transform: translateX(0);
  opacity: 1; }

section:target ~ section {
  transform: translateX(100vmax); }

section:not(.cover):not(.part) {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; }
  section:not(.cover):not(.part) h3 {
    font-size: 2rem;
    padding-left: 1rem;
    align-self: stretch;
    flex: 0 0 auto;
    margin-right: 4rem; }
  section:not(.cover):not(.part) > *:not(h3) {
    width: calc(100vw - 2 * var(--navigationWidth));
    text-align: left; }

section.cover {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bgCover);
  color: var(--fgCover); }
  section.cover h1 {
    margin: -1em var(--navigationWidth) 0 var(--navigationWidth);
    font-family: var(--coverFont);
    font-size: 4rem;
    text-align: center;
    font-weight: bold; }
  section.cover::before {
    display: none; }

section.part {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bgPart);
  color: var(--fgPart); }
  section.part h2 {
    margin: -1em var(--navigationWidth) 0 var(--navigationWidth);
    font-family: var(--partFont);
    font-size: 4rem;
    text-align: center; }

section.two-columns ul, section.two-columns ol {
  column-count: 2;
  column-gap: 2em; }

section.roadmap ol {
  list-style: upper-roman; }

/*

Darcula color scheme from the JetBrains family of IDEs

*/
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #2b2b2b; }

.hljs {
  color: #bababa; }

.hljs-strong,
.hljs-emphasis {
  color: #a8a8a2; }

.hljs-bullet,
.hljs-quote,
.hljs-link,
.hljs-number,
.hljs-regexp,
.hljs-literal {
  color: #6896ba; }

.hljs-code,
.hljs-selector-class {
  color: #a6e22e; }

.hljs-emphasis {
  font-style: italic; }

.hljs-keyword,
.hljs-selector-tag,
.hljs-section,
.hljs-attribute,
.hljs-name,
.hljs-variable {
  color: #cb7832; }

.hljs-params {
  color: #b9b9b9; }

.hljs-string {
  color: #6a8759; }

.hljs-subst,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-symbol,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-template-tag,
.hljs-template-variable,
.hljs-addition {
  color: #e0c46c; }

.hljs-comment,
.hljs-deletion,
.hljs-meta {
  color: #7f7f7f; }

code, pre {
  font-family: var(--codeFont); }

pre[class^=lang-] {
  box-shadow: inset 0 0 0.25rem rgba(0, 0, 0, 0.25);
  border-radius: .25rem;
  tab-size: 2; }

dl, ol, ul {
  margin: 0;
  padding: 0; }

div > ol, ul {
  padding-left: 1rem; }

dl {
  display: grid;
  grid-template-columns: auto auto;
  grid-row-gap: .8rem; }
  dl dt {
    font-weight: bold; }

figure {
  display: flex;
  flex-direction: column;
  align-items: center; }
  figure img {
    max-width: 100%;
    max-height: 70vh; }

* {
  margin: 0;
  padding: 0; }

html {
  font-size: 3vmin; }

body {
  font-family: var(--fontBody); }

blockquote p {
  font-family: var(--quoteFont);
  font-size: 1.5rem;
  text-align: justify; }
  blockquote p::before {
    content: '“ ';
    opacity: .5;
    display: inline-block;
    transform: scale(4) translateY(0.25rem);
    margin-right: 1.5em; }

.todo {
  box-shadow: inset 0 0 0 1rem rgba(80, 0, 0, 0.5); }
