@import "common/animations";

$size : 56vh;
$effectSize : .02em;

// Code
section.cover {
  h1 {
    @extend .mzh-animation;
    width          : $size;
    height         : $size;
    border         : solid 1vh currentColor;
    font-size      : $size / 3.55;
    padding        : 2vh;
    font-family    : arial, sans-serif;
    font-weight    : bold;
    box-sizing     : border-box;
    text-transform : uppercase;
    line-height    : 105%;
    text-align: left;
  }
}
