@import "common/animations";
@import "common/mixins";

// Cover
section.cover {
  h1 {
    @extend .mzh-animation;
    @include cssIsAwesome();
    text-align : left;
  }
}

// Whoami
#whoami {
  h4 {
    font-size : 1.5rem;
  }
  & > div {
    display : flex;
    div {
      align-self : flex-end;
    }
    svg {
      flex       : 1 1 auto;
      max-height : 2em;
      max-width  : 25vw;
      path {
        fill : currentColor;
      }
    }
  }

  & > a {
    margin     : 0 var(--navigationWidth);
    width: auto;
    align-self : flex-start;
    &[href^='https://twitter.com']::before {
      content : '🐦 ';
    }
    &[href^=mailto]::before {
      content : '✉️ ';
    }

  }
}

// Least Power
#least-power {
  blockquote p {
    font-size : 1.35rem;
  }
}