
.devfest-tls {
  --who: 'DevFest Toulouse !';

  --blue   : #4285f4;
  --green  : #0f9d58;
  --yellow : #f4b400;
  --red    : #db4437;

  --g1     : #263238;
  --g2     : #37424b;
  --g3     : #455a64;
  --g4     : #ebebeb;
  --g5     : #f7f7f7;

  --alpha1 : rgba(0, 0, 0, .54);
  --alpha2 : rgba(0, 0, 0, .87);

  --txtFooter       : '@DevFestToulouse @ilaborie #CSS #🦄';
  --logoFooter      : url('./assets/devfest-logo-v2017.svg');
}