
.kotlinBbl {
  --txtFooter: '#BrownBagLunch @ilaborie #kotlin';
}

@import "common/print";
@import "./water-pouring";

section article > pre.hljs {
  align-self: center;
}

#speakers {
  color: #fff;
  z-index: 2;

  &::after {
    display: none;
  }

  article {
    flex-direction: column;
    grid-column: 1 / 4;
    grid-row: 1 / 4;
    background: #00b0f0;
    max-height: 100vh;
    display: flex;
    align-items: stretch;
    justify-content: space-around;

    .emmanuel {
      grid-area: manu;
    }
    .igor {
      grid-area: igor;
    }
    .emmanuel, .igor {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;

      img.speakerRound {
        width: 128px;
        float: left;
        margin-right: 20px;
        margin-top: 22px;
        border-radius: 100px;
        overflow: hidden;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);
      }

      a > img, a > svg {
        height: 25vh;
      }
      & > * {
        align-self: center;
        text-align: center;
        white-space: nowrap;
      }

      h4 {
        font-size: 1.25rem;
        font-weight: bold;
      }
      span, a {
        grid-column: 2 / 3;
      }
      a {
        font-size: .8rem;
        margin-top: .5rem;

        &[href*="twitter"]::before {
          background-image: url('./assets/brands/twitter-white.svg');
        }
      }
    }

    & > a {
      align-self: center;
      grid-area: mkp;
    }
  }

}

section.list-big {
  font-size: 1.3rem;
}

#cible {
  article {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 2fr;
    align-content: center;
    justify-items: center;
    grid-gap: .5rem;

    .jvm-android {
      grid-column: 1 / 3;
    }

    img {
      width: 12vw;
      align-self: end;
    }
  }
}

#verres, #remplir, #vider, #verser {
  article {
    align-items: stretch;
    & > div {
      margin-top: -2rem;
      display: flex;
      font-weight: bold;
      flex-direction: row;
      justify-content: center;
      align-items: flex-end;
      .glass-container {
        margin: 0 2rem -2rem 2rem;
      }
      .ope {
        font-size: 2rem;
      }
    }
  }
}

#demo {
  article {
    align-items: stretch;
    justify-content: flex-start;
    .water-pouring-demo {
      .main {
        pointer-events: auto;
        overflow: auto;
        max-height: 75vh;

        button {
          color: var(--primary);
        }
      }
    }
  }
}

#theiere_magique {
  article {
    align-items: center;
    img {
      height: 75vh;
    }
  }
}

section.operation {
  article {
    align-items: stretch;
    & > div {
      margin-top: -2rem;
      display: flex;
      font-weight: bold;
      flex-direction: row;
      justify-content: center;
      align-items: flex-end;
      .glass-container {
        margin: 0 2rem -2rem 2rem;
      }
      .ope {
        font-size: 2rem;
      }
    }
  }
}
