body {
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
}

/*buttons*/
.main button {
  font-size: 1.25rem;
  border-radius: 2.5em;
  border: medium solid currentColor;
  color: chocolate;
  padding: .25em .5em;
  background-color: #fff;
  outline: currentColor 1px;
}

/*inputs*/
input[type=number] {
  width: 4ch;
  margin: 0 1ch;
}

/*main and layout */
.main {
  display: grid;
  grid-gap: .5rem;
  grid-template-columns: 1fr 1fr;
  margin: .5rem;
  h1, .btn-solve, .error, ul {
    grid-column: 1 / 3;
  }

  h1 {
    text-align: center;
  }
  .error {
    font-size: 1.25rem;
    background-color: firebrick;
    color: white;
    padding: .25rem 1rem;
    white-space: pre;
    overflow: auto;
  }

}

.error:empty {
  display: none;
}

/*State*/
.state {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

/*glass container*/
.glass-container {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  justify-content: flex-end;
  align-items: center;
}

/*Glass*/
.glass {
  width: 3rem;
  margin-top: 2.5rem;
  margin-bottom: .5rem;
  display: inline-block;
  color: lightblue;
  background-color: currentColor;
  border: medium solid currentColor;
  border-bottom-width: .8rem;
  border-top: none;
  border-radius: .25em;
  transform: perspective(.5em) rotateX(-1deg) scaleY(.8);
  transform-origin: bottom;
  box-shadow: .125rem .125rem 0.25rem rgba(0, 0, 0, .5),
  inset .625rem .25rem 2.5rem hsla(1, 100%, 100%, .9);
}

/*solve list*/
.main ul {
  list-style: none;
  padding: 0;
  li {
    display: grid;
    grid-gap: .5rem;
    grid-template-columns: 1fr 1fr;
    border: thin solid rgba(0, 0, 0, .25);
    margin: .25rem 0;
    padding: .25rem;
  }
}

/*move*/
.move {
  align-self: center;
  justify-self: center;
  font-size: 1.5rem;
}